@if (closeBet) {
<div class="wrap">
  <div class="wrap-inner">
    <div class="content cricket">
      <div class="ng-tns-c389869152-1 ng-trigger ng-trigger-routeLayoutPageAni">
        <div id="vueWebComponent" class="cricket-container">
          <div id="s-app-container" class="s-app s-space-y-px s-default">
            <div class="s-main-container-wrapper">
              <section id="s-main-container" class="s-min-h-full-with-header s-mx-auto s-bg-body">
                <main>
                  <div id="bet-slip" style=""
                    class="s-z-40 s-bottom-0 s-rounded-t-xl s-transition-all s-duration-700 s-opacity-100 s-fixed s-w-full bet-place">
                    <div class="s-bg-betSlip-light dark:s-bg-betSlip-dark s-relative s-p-2 s-rounded-t-5px s-z-10"
                      id="betSLip">
                      <div class="s-flex s-items-center s-font-bold s-mb-2">
                        @if (data[0].isBack) {
                        <span
                          class="s-relative s-w-50px s-py-2 s-inline-block s-font-bold s-text-center s-text-13px s-rounded-3px s-shrink-0 s-bg-back dark:s-bg-back-500"
                          id="backbetType">Back</span>
                        } @else {
                        <span
                          class="s-relative s-w-50px s-py-2 s-inline-block s-font-bold s-text-center s-text-13px s-rounded-3px s-shrink-0 s-bg-lay dark:s-bg-lay-500"
                          id="laybetType">Lay</span>
                        }

                        @if (data[0].sourceBetType == 'Fancy' || data[0].sourceBetType == 'Fancy1') {
                        <span
                          class="s-inline-block s-text-global-font-default-light dark:s-text-global-font-default-dark s-text-18px s-align-text-bottom s-p-2 s-mr-6 s-break-all s-grow"
                          id="betSourceName">{{ data[0].fancyName }}</span>
                        } @else {
                        <span
                          class="s-inline-block s-text-global-font-default-light dark:s-text-global-font-default-dark s-text-18px s-align-text-bottom s-p-2 s-mr-6 s-break-all s-grow"
                          id="betSourceName">{{ data[0].selectionName }}</span>
                        }
                        <div
                          class="s-icon-close s-absolute s-right-2 s-mr-2 s-text-global-font-default-light dark:s-text-global-font-default-dark s-text-base s-flex s-justify-center s-items-center s-cursor-pointer"
                          id="closeBetPopup" (click)="cancelBet()"></div>
                      </div>
                      <div class="s-flex">
                        <section class="s-bet-amount">
                          <dt class="s-title s-font-normal">Odds</dt>
                          <dd class="s-input-box">
                            <button
                              class="btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10"
                              name="minus" id="oddsDown">
                              <div
                                class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                                style="--0b879273: 0;">
                                <span
                                  class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                  style="display: none;"></span>
                                <span
                                  class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                  style="display: none;"></span>
                              </div>
                              <span class="s-icon-minus s-text-black-600"></span>
                            </button>
                            @if (data[0].sourceBetType == 'Fancy' || data[0].sourceBetType == 'Fancy1') {
                            <span name="odds" class="s-input-field is-default" id="selectedOdds">
                              {{ data[0].odds | number:'1.0-0' }}/{{ data[0].selectionName | number:'1.0-0' }}
                            </span>
                            } @else {
                            <span name="odds" class="s-input-field is-default" id="selectedOdds">
                              {{ data[0].odds }}
                            </span>
                            }

                            <button
                              class="btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10"
                              name="plus" id="oddsUp">
                              <div
                                class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                                style="--0b879273: 0;">
                                <span
                                  class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                  style="display: none;"></span>
                                <span
                                  class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                  style="display: none;"></span>
                              </div>
                              <span class="s-icon-plus s-text-black-600"></span>
                            </button>
                          </dd>
                        </section>
                        <section class="s-bet-amount s-ml-2">
                          <dt class="s-title s-font-normal">Stake</dt>
                          <dd class="s-input-box">
                            <button (click)="minusCounter(true)"
                              class="btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10"
                              name="minus" id="stakeDown">
                              <div
                                class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                                style="--0b879273: 0;">
                                <span
                                  class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                  style="display: none;"></span>
                                <span
                                  class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                  style="display: none;"></span>
                              </div>
                              <span class="s-icon-minus"></span>
                            </button>
                            <span name="stake" id="stakeValue" class="s-input-field is-focus">{{counterBet}}</span>
                            <button (click)="plusCounter(true)"
                              class="btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10"
                              name="plus" id="stakeUp">
                              <div
                                class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                                style="--0b879273: 0;">
                                <span
                                  class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                  style="display: none;"></span>
                                <span
                                  class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                  style="display: none;"></span>
                              </div>
                              <span class="s-icon-plus"></span>
                            </button>
                          </dd>
                        </section>
                      </div>
                      <div>
                        <div class="s-mb-2 s-flex">
                          <div class="s-flex s-flex-1 s-justify-between s-text-14px">
                            <button
                              class=" stakeInput btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10 s-w-80px s-h-30px s-border-0"
                              type="button">
                              <span id="coin_1" class="select"
                                (click)="addStakValue(stakeArr.stake1, true)">+{{stakeArr.stake1}}</span>
                            </button>
                            <button
                              class=" stakeInput btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10 s-w-80px s-h-30px s-border-0"
                              type="button">
                              <span id="coin_1" class="select"
                                (click)="addStakValue(stakeArr.stake2, true)">+{{stakeArr.stake2}}</span>
                            </button>
                            <button
                              class=" stakeInput btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10 s-w-80px s-h-30px s-border-0"
                              type="button">
                              <span id="coin_1" class="select"
                                (click)="addStakValue(stakeArr.stake3, true)">+{{stakeArr.stake3}}</span>
                            </button>
                            <button
                              class=" stakeInput btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10 s-w-80px s-h-30px s-border-0"
                              type="button">
                              <span id="coin_1" class="select"
                                (click)="addStakValue(stakeArr.stake4, true)">+{{stakeArr.stake4}}</span>
                            </button>
                          </div>
                        </div>
                        <div class="s-flex">
                          <div class="s-flex s-flex-1 s-flex-wrap s-text-14px numpadd">
                            @for (num of numPadArr; track num) {
                            <button (click)="addStaticVal1(num, true)" class="numberInput btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded
                              s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700
                              disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden
                              a active:s-bg-opacity-10 s-w-2/12 s-h-40px s-flex s-justify-center s-items-center s-font-normal s-border
                              s-border-white s-bg-black-100 dark:s-border-black-900 dark:s-bg-black-700 s-text-global-font-default-light
                              dark:s-text-global-font-default-dark s-rounded" type="button">
                              <div
                                class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                                style="--0b879273: 0;">
                                <span
                                  class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                  style="display: none;"></span>
                                <span
                                  class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                  style="display: none;"></span>
                              </div>
                              {{ num }}
                            </button>
                            }

                          </div>
                          <button (click)="deleteLastNum()"
                            class=" eraseStake btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10 s-icon-backspace s-w-20 s-text-2xl s-font-bold s-border-solid s-border-l s-border-white s-rounded s-bg-black-100 dark:s-border-black-900 dark:s-bg-black-700 s-text-global-font-default-light dark:s-text-global-font-default-dark"
                            type="button">
                            <div class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                              style="--0b879273: 0;">
                              <span
                                class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                style="display: none;"></span>
                              <span
                                class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                style="display: none;"></span>
                            </div>
                          </button>
                        </div>
                      </div>
                      <div class="s-mt-1.5 s-flex s-justify-between s-items-center">
                        <div></div>
                        <div class="s-flex s-items-center s-text-black-500">

                        </div>
                      </div>
                      <button (click)="placeBetFunc()" [ngClass]="disabled?'btn-disable':''"
                        class=" placeBetButton btn s-btn-normal s-relative s-text-14px s-p-3 s-font-bold s-rounded s-flex s-justify-center s-items-center disabled:s-bg-black-300 dark:disabled:s-bg-black-700 disabled:s-text-black-600 dark:disabled:s-text-black-600 disabled:s-cursor-not-allowed s-overflow-hidden a active:s-bg-opacity-10 s-w-full s-h-40px s-my-2 s-text-14px"
                        type="submit">
                        <div class="wrapper s-w-full s-h-full s-absolute s-overflow-hidden s-top-0 s-left-0 s-z-10"
                          style="--0b879273: 0;">
                          <span class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                            style="display: none;"></span>
                          <span
                            class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                            style="display: none;"></span>
                        </div>Place Bet
                      </button>
                      @if (loading) {
                      <div id="betPlacingLoader">
                        <div
                          class="s-absolute s-z-10 s-top-0 s-left-0 s-w-full s-h-full s-bg-black-800 s-opacity-80 s-rounded-t-5px">
                        </div>
                        <div
                          class="s-absolute s-z-10 s-top-0 s-left-0 s-w-full s-h-full s-flex s-items-center s-justify-center">
                          <img fetchpriority="high"  width="147" height="124" src="../../../assets/images/loading-bet.webp" alt="">
                        </div>
                      </div>
                      }

                    </div>
                    <div
                      class="s-bet-slip-gradient s-absolute s-w-full s-h-120px dark:s-h-64px s-top-13px dark:-s-top-17px -s-translate-y-1/2"
                      style="display: none;"></div>
                  </div>
                </main>
              </section>
              <div class="s-fixed s-top-0 s-left-0 s-w-full s-h-full s-z-40" style="display: none;"></div>
              <div
                class="s-loading s-w-full s-h-full s-z-[300] s-flex s-justify-center s-items-center s-text-xl s-text-center s-text-primary s-fixed s-left-0 s-top-0"
                style="display: none; --42467982: 300;">
                <div
                  class="s-loading-box s-flex s-justify-center s-items-center s-border s-border-solid s-border-primary-dark-200 s-rounded-lg s-w-28 s-h-28">
                  <div class="s-loading-spinner s-relative s-w-1/2 s-h-20px"></div>
                </div>
              </div>
              <div id="testLMT" class="s-hidden">
              </div>
              <div class="s-relative -s-bottom-4px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>
</div>
}
