<main class="min-h-full-with-header">
  <div data-v-f43ca18c="" class="pb-20 relative">
    <div data-v-6266c5cb="">
      <header data-v-6266c5cb=""
        class="h-12 p-3 bg-secondary text-global-font-on-dark text-14 flex items-center justify-center">Payment Transfer Log
        <!-- <div class="icon-close text-16 absolute right-4" routerLink="/home"></div> -->
         <i class="fa-solid fa-xmark text-16 absolute right-4" routerLink="/home" ></i>
      </header>
      <div data-v-6266c5cb="" class="p-4">
        <div data-v-6266c5cb="" class="flex justify-center items-center py-48">
          <div class="pt-6 px-7 pb-5 bg-white text-center text-black-700 text-base rounded-xl leading-tight">
            <div alt="" class="icon-empty text-40 text-black-300 m-auto mb-2.5"></div>
            <div>No Data</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
