.item-block[data-v-6d6d5fd0] {
  font-size: 1.0714285714285714rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}

.item-block .item[data-v-6d6d5fd0] {
  align-items: center;
  border-bottom-width: 1px;
  display: flex;
  height: 3.2142857142857144rem;
  --tw-border-opacity: 1;
  border-color: rgb(212 224 229 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
}

.item-block .item.item-black[data-v-6d6d5fd0] {
  --tw-bg-opacity: 1;
  background-color: rgb(212 224 229 / var(--tw-bg-opacity));
}

.item-block .item[data-v-6d6d5fd0]:first-child {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.item-block .item[data-v-6d6d5fd0]:last-child {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-width: 0;
}

.item-block .item .icon[data-v-6d6d5fd0] {
  font-size: 1.1428571428571428rem;
  margin-right: 0.5rem;
}

.item-block .item .icon-right[data-v-6d6d5fd0] {
  position: absolute;
  right: 2rem;
  --tw-rotate: 180deg;
  font-size: 0.8571428571428571rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-text-opacity: 1;
  color: rgb(126 145 158 / var(--tw-text-opacity));
}

.icon-sphere[data-v-6d6d5fd0] {
  margin-right: 0.5rem;
}

.open-side {
  z-index: 1001;
  transition:
    transform 0.3s ease-in-out,
    z-index 0s;
}

.close-side {
  /* transform: translateX(-100%);  */
  z-index: -10;
  transition:
    transform 0.3s ease-in-out,
    z-index 0s 0.3s;
}

.open-back {
  z-index: 40;
  display: block;
}

.close-back {
  z-index: -10;
  display: none;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.bg-signup {
  background-color: #836705;
}

.scroll-width {
  scrollbar-width: thin;
}

.scroll-width::-webkit-scrollbar {
  width: 8px;
}

.scroll-width::-webkit-scrollbar-thumb {
  background-color: #888;
  /* scrollbar color */
  border-radius: 4px;
  /* rounded corners */
  border: 2px solid #f1f1f1;
  /* adds space around */
}

.toggle-box__inner {
  position: relative;
  width: 42px;
  height: 24px;
  margin-left: 0;
}

.toggle-box__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toggle-box__switch {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding: 2px;
  background: #032682;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.25s;
}

.toggle-box__disc {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s;
}

.toggle-box__input:checked+.toggle-box__switch {
  background: #333;
}

.toggle-box__input:checked+.toggle-box__switch .toggle-box__disc {
  transform: translateX(18px);
}

.togglebtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.toggle-container {
  display: inline-flex;
  align-items: center;
  border: 1px solid #e0dede;
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  width: 100%;
  gap: .8em;
}

.togglebtn p {
  margin: 0;
  color: #fff;
}

.classic-switch {
  width: 135px;
  height: 38px;
  border-radius: 20px;
  padding: 3px 5px;
  background-color: #00000082;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classic-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
  color: #fff;
  margin-left: 4px;
}

.classic-text span {
  font-size: 11px;
  font-weight: 500;
}

/* .toggle-pill {
  width: 64px;
  height: 28px;
  background: #0cb24b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px 0 12px;
  box-sizing: border-box;

  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3);
   } */

.status {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.circle {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.15);
}
.toggle-pill {
  width: 64px;
  height: 28px;
  border-radius: 20px;
  background: #666;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

.toggle-pill.active {
  background: #0cb24b;
}

.toggle-pill input {
  display: none;
}

.status {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s ease;
}

.toggle-pill .status {
  right: 10px;
}

.toggle-pill.active .status {
  left: 12px;
  right: auto;
}

.circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.15);
}

.toggle-pill.active .circle {
  transform: translateX(36px);
}
