.footer-top .license {
  flex: 0 0 47%;
  margin-right: 2.1333333333vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 2.1333333333vw;
  background-color: #1f1f1f !important;
}

@media (min-width:768px) {
  .footer-top .license {
    margin-right: 10.24px;
  }
}
