.footer-top .license {
  flex: 0 0 47%;
  margin-right: 2.1333333333vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 2.1333333333vw;
}

@media (min-width:768px) {
  .footer-top .license {
    margin-right: 10.24px;
  }
}
@media (min-width:768px) {
  header {
    height: 64px;
    max-width: 480px;
  }

  header.cricket,
  header.member,
  header.normal,
  header.player {
    box-shadow: 0 2.56px 2.56px #ebebeb0d;
  }

  .menu-btn ul li {
    width: 25.6px;
    height: 2.56px;
    margin: 5.12px 0;
    border-radius: 2.56px;
  }

  .menu-btn ul li:nth-child(2) {
    width: 21.76px;
  }

  .menu-btn ul li:nth-child(3) {
    width: 17.92px;
  }

  .footer {
    padding: 0 10.24px;
    margin-bottom: 0;
  }

  .footer-top {
    padding: 20.48px 0;
  }

  .footer-top div {
    margin-bottom: 10.24px;
  }

  .footer-top .license {
    margin-right: 10.24px;
  }

  .footer-top div h2 {
    margin: 0 0 5.12px;
    font-size: 15.36px;
  }

  .footer-top ul {
    padding: 10.24px;
    border-radius: 6.4px;
    box-shadow: 0 2.56px 2.56px #ebebeb0d;
  }

  .footer-top div li {
    margin: 5.12px 0;
  }

  .footer-top div li:first-child {
    margin-right: 10.24px;
  }

  .footer-top .safe img,
  .footer-top .license img {
    height: 35.84px;
  }

  .footer-top div li+li {
    margin-right: 10.24px;
  }

  .footer-top .about-us ul {
    gap: 10.24px;
  }

  .footer-top .about-us ul li {
    margin: 5.12px 0;
    padding: 0 5.12px;
  }

  .footer-top .about-us a {
    font-size: 16.64px;
  }

  .footer-top div img {
    height: 23.04px;
  }

  .footer-top .about-us ul li:after {
    left: calc(100% + 5.12px);
    width: 1.28px;
    background-size: 7.68px;
  }

  .footer-top .pay,
  .footer-top .pay-normal-size {
    margin-right: 0;
  }

  .content {
    padding-top: 64px;
  }

  .menu.active {
    left: unset;
    margin: 0 auto;
    animation: slideIn 0.7s forwards;
  }

  .menu {
    scrollbar-width: none;
    max-width: 480px;
  }

  @keyframes slideIn {
    0% {
      left: -100%;
    }

    100% {
      left: unset;
    }
  }

  .menu-mask {
    max-width: 480px;
  }

  .menu.active .btn-close {
    width: 51.2px;
    height: 51.2px;
  }

  .menu-first {
    position: relative;
    top: 51.2px;
    left: 10.24px;
    height: -moz-fit-content;
    height: fit-content;
  }

  .menu-top {
    position: relative;
    z-index: 116;
    width: 296.96px;
  }

  .menu-header {
    height: 76.8px;
    border-radius: 12.8px 12.8px 0 0;
    box-shadow: inset 0 1.28px 1.28px color-mix(in srgb, #ffff, transparent 80%);
  }

  .menu-header video,
  .menu-header img {
    bottom: -1.28px;
    left: -12.8px;
    width: 134.4px;
    height: 94.72px;
  }

  .menu-header .member-name {
    height: 76.8px;
    padding-left: 128px;
    font-size: 15.36px;
    font-weight: 600;
  }

  .menu-header .member-name .account {
    max-width: 153.6px;
    margin: 10.24px 0;
  }

  .menu-header .member-name p {
    width: 128px;
  }

  .menu-header .icon-arrow {
    right: 20.48px;
    bottom: 10.24px;
    width: 25.6px;
    height: 25.6px;
  }

  .menu-first .beforelogin,
  .menu-first .afterlogin {
    height: 76.8px;
    border-radius: 0 0 12.8px 12.8px;
  }

  .beforelogin .main-wallet,
  .afterlogin .main-wallet {
    border-radius: 12.8px 0 0 12.8px;
  }

  .menu-first .afterlogin .main-wallet,
  .menu-first .afterlogin .balance {
    margin: 0 20.48px;
  }

  .menu-first .menu-item li:nth-child(3n) {
    margin: 0 0 12.8px;
  }

  .afterlogin .main-wallet .wallet,
  .afterlogin .main-wallet .text,
  .afterlogin .balance .wallet,
  .afterlogin .balance .text {
    font-size: 15.36px;
    line-height: 23.04px;
  }

  .icon-refresh {
    margin-right: 5.12px;
  }

  .afterlogin .icon-refresh {
    width: 15.36px;
    height: 15.36px;
    margin-left: 10.24px;
  }

  .afterlogin .main-wallet .amount,
  .afterlogin .main-wallet .bonus,
  .afterlogin .balance .amount,
  .afterlogin .balance .bonus {
    /* font-size: 20.48px; */
    line-height: 33.28px;
  }

  .menu-first .afterlogin .main-wallet .bonus,
  .menu-first .afterlogin .main-wallet .amount,
  .menu-first .afterlogin .balance .bonus,
  .menu-first .afterlogin .balance .amount {
    font-size: 23.04px;
  }

  .amount:before {
    margin-right: 3.84px;
  }

  .menu-first .menu-item {
    margin-top: 10.24px;
    padding-bottom: 20.48px;
  }

  .menu-first .menu-item ul {

    width: 296.96px;
  }

  .menu-first .menu-item li {
    width: 92.16px;
    height: 92.16px;
    margin: 0 10.24px 10.24px 0;
    padding: 5.12px;
    border-radius: 12.8px;
    box-shadow: 0 10.24px 12.8px color-mix(in srgb, rgba(0, 0, 0, .2), transparent 70%), inset 1.28px 1.28px color-mix(in srgb, #ffff, transparent 80%);
    font-size: 14.08px;
  }

  .wallet-box #deposit {
    width: 194.56px;
    padding-left: 19.2px;
    padding-right: 19.2px;
  }

  .menu-first .menu-item li a span {
    width: 38.4px;
    height: 38.4px;
  }

  .menu-first .menu-item li a p {
    width: 92.16px;
    margin-top: 5.12px;
  }

  .wallet-box #withdrawal {
    margin: 0 0 12.8px;
  }

  .menu-first .menu-item .item-box,
  .menu-first .menu-item .contact-box,
  .menu-first .menu-item .home-box {
    margin-bottom: 10.24px;
    border-radius: 12.8px;
    box-shadow: 0 10.24px 12.8px color-mix(in srgb, rgba(0, 0, 0, .2), transparent 70%), inset 1.28px 1.28px color-mix(in srgb, #ffff, transparent 80%);
  }

  .menu-first .menu-item .item-box li,
  .menu-first .menu-item .contact-box li,
  .menu-first .menu-item .home-box li {
    margin: 0 10.24px 0 0;
  }

  .menu-first .menu-item .home-box li {
    width: 143.36px;
    margin: 0;
  }

  .menu-first .menu-item .home-box li a {
    margin: 0 0 0 12.8px;
  }

  .menu-first .menu-item .home-box li p {
    margin-left: 5.12px;
  }

  .beforelogin .login-button {
    font-size: 19.2px;
    line-height: 64px;
  }

  .menu-first .beforelogin .login-button span {
    flex: 0 0 19.2px;
    height: 76.8px;
    margin: 0 10.24px 0 32px;
    width: 19.2px;
  }

  .beforelogin a,
  .afterlogin a {
    border-radius: 25.6px;
    font-size: 15.36px;
  }

  .beforelogin .login-button a,
  .afterlogin .login-button a {
    margin-left: 10.24px;
  }

  .beforelogin .register-button {
    font-size: 19.2px;
    line-height: 64px;
  }

  .menu-first .beforelogin .register-button span {
    flex: 0 0 19.2px;
    height: 76.8px;
    margin: 0 10.24px 0 32px;
    width: 19.2px;
  }

  .menu-first .beforelogin .register-button span {
    flex: 0 0 19.2px;
    height: 76.8px;
    margin: 0 10.24px 0 32px;
    width: 19.2px;
  }

  .menu-second {
    top: 51.2px;
    left: 12.8px;
  }

  .menu-second ul {
    position: absolute;
    top: 0;
    left: 140.8px;
    width: 140.8px;
    height: auto;
    max-height: 819.2px;
    overflow-y: scroll;
    transition: all .5s;
    opacity: 0;
    z-index: -1;
    scrollbar-width: none;
    box-shadow: inset 1.28px 1.28px color-mix(in srgb, #ffff, transparent 80%);
  }

  .menu-second ul.active {
    left: 12.8px;
    border-radius: 12.8px;
  }

  .menu-second ul li {
    border-bottom: 1.28px solid #464646;
  }

  .menu-second ul li {
    padding: 12.8px 0;
  }

  .menu-second .icon-sport {
    display: block;
    width: 51.2px;
    height: 51.2px;
    margin: 0 auto;
    margin-bottom: 10.24px;
    background: #FFDF1A;
  }

  .menu-second ul li p {
    font-size: 15.36px;
  }

  .wrap-pop {
    max-width: 480px;
    left: unset;
  }

  .wrap-pop.langshow {
    transform: translateY(50%);
  }

  .wrap-pop .pop-title {
    min-height: 76.8px;
    padding: 19.2px 76.8px 19.2px 19.2px;
  }

  .wrap-pop .pop-title h3 {
    font-size: 17.92px;
  }

  .wrap-pop.language-pop .btn-close,
  .wrap-pop.promotion-pop .btn-close {
    width: 64px;
    height: 76.8px;
  }

  .wrap-pop .pop-inner {
    padding: 19.2px;
  }

  .language-list li {
    margin-bottom: 6.4px;
    padding: 6.4px;
  }

  .language-list .left-language-area img {
    width: 38.4px;
    height: 38.4px;
    margin-right: 12.8px;
  }

  .language-list .left-language-area p {
    font-size: 15.36px;
    min-width: none;
  }

  .language-list .left-language-area span {
    min-width: 12.8px;
  }

  .radio-box {
    margin: 0 0 6.4px 2%;
    font-size: 17.92px;
  }

  .radio-box [type=radio]+label {
    padding: 0 6.4px;
    border: 1.28px solid #eeeeee;
  }

  .right-language-area {
    justify-content: unset;
  }

  .radio-box [type=radio]+label {
    min-width: auto;
  }

  .radio-box [type=radio]:checked+label {
    border: 1.28px solid #ffdf1a;
    color: #ffdf1a;
  }

  header .header-right-btn-group .language-select img {
    width: 24.576px;
    height: 24.576px;
  }
  @keyframes slideprovider {
    0% {
        left: -140.8px;
        opacity: 0;
    }

    50% {
        left: 0vw;
        opacity: 0.5;
    }

    100% {
        left: 12.8px;
        opacity: 1;
    }
}
}
