<footer class="footer footers">
  <div class="footer-top">
    <div class="license ng-star-inserted" style="margin-left: 0;">
      <h2>Gaming License</h2>
      <ul>
        <li><img fetchpriority="high"  alt="license1" src="/assets/bjimage/footer/license1.png" loading="lazy"></li>
      </ul>
    </div>
    <div class="safe ng-star-inserted" style="margin-right: 0;">
      <h2>Responsible Gaming</h2>
      <ul>
        <li><img fetchpriority="high"  alt="age-limit" src="/assets/bjimage/footer/age-limit.svg" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="regulations" src="/assets/bjimage/footer/regulations.svg" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="gamcare" src="/assets/bjimage/footer/gamcare.svg" loading="lazy"></li>
      </ul>
    </div>
    <div class="pay ng-star-inserted">
      <h2>Payment Methods</h2>
      <ul>
        <li><img fetchpriority="high"  alt="pay16" src="/assets/bjimage/footer/pay16.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay17" src="/assets/bjimage/footer/pay17.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay22" src="/assets/bjimage/footer/pay22.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay33" src="/assets/bjimage/footer/pay33.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay34" src="/assets/bjimage/footer/pay34.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay45" src="/assets/bjimage/footer/pay45.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay46" src="/assets/bjimage/footer/pay46.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay59" src="/assets/bjimage/footer/pay59.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay60" src="/assets/bjimage/footer/pay60.png" loading="lazy"></li>
        <li><img fetchpriority="high"  alt="pay61" src="/assets/bjimage/footer/pay61.png" loading="lazy"></li>
      </ul>
    </div>
    <div class="about-us">
      <h2>About Us</h2>
      <ul>
        <li><a id="PrivacyPolicy" routerLink="/exchange/privacy-policy"> Privacy Policy </a></li>
        <li><a id="TermsCondition" routerLink="/exchange/term-condition"> Terms &amp; Conditions
          </a></li>
        <li><a id="RulesRegulation" routerLink="/exchange/rule-reg"> Rules And
            Regulation</a></li>
        <li><a id="Kyc" routerLink="/exchange/kyc"> KYC </a></li>
        <li><a id="Responsible" routerLink="/exchange/resp-gaming"> Responsible Gaming </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
