<main class="min-h-full-with-header h-screen overflow-y-scroll overflow-x-hidden" (scroll)="onScroll($event)">
  <div data-v-f43ca18c="" class="">
    <div class="relative">
      <div>
        <div data-v-46787094="" class="h-36px relative flex justify-center items-center bg-black"
          style="--75265984: 33px; --33d33e52: translateX(104px);">
          <div data-v-46787094="" class="flex justify-center items-center w-full">
            <!-- <div *ngIf="isLogin" (click)="scoreTvTabs('tv')" data-v-46787094="" class="text-center w-1/2">
              <span data-v-46787094="" [class]="showTabs == 'tv'? 'active' :''"
                class="text-13 text-white text-center font-bold">Live</span>
            </div> -->
            <div (click)="scoreTvTabs('scrd')" data-v-46787094="" class="text-center w-1/2">
              <span data-v-46787094="" [class]="showTabs == 'scrd'? 'active' :''"
                class="text-13 text-white text-center">Scoreboard</span>
            </div>
          </div>
          <!-- <div class="indicator-tab absolute left-0 bottom-1 rounded-full bg-white"></div> -->
          <div data-v-46787094="" class="tab-indicator absolute left-0 bottom-1 rounded-full bg-white"></div>
        </div>
        <div data-v-74773829="" class="py-1.5 px-4 min-h-40px flex justify-center items-center bg-white">
          <div data-v-74773829="" class="sub-row w-full grid items-center">
            <div data-v-74773829="" class="flex justify-start items-center">
              <h2 data-v-74773829="" class="w-3/4 text-13 break-words text-left">{{matchrunners[0]}}</h2><span
                data-v-74773829="" class="ml-2 text-13 text-widget-text font-bold"></span>
            </div><span data-v-74773829="" class="text-13 text-widget-text font-bold text-center">-</span>
            <div data-v-74773829="" class="flex justify-end items-center"><span data-v-74773829=""
                class="mr-2 text-13 text-widget-text font-bold"></span>
              <h2 data-v-74773829="" class="w-3/4 text-13 text-right break-words">{{matchrunners[1]}}</h2>
            </div>
          </div>
        </div>
        <div class="bg-secondary">
          <!-- <div *ngIf="showTabs == 'tv'" data-v-5c7611c3="" class="video-contaienr relative">
            <div data-v-5c7611c3="" class="video-wrapper relative z-0">
              <div cdkDrag class="framedet">
                <span class="flex justify-end">
                  <i class="fa fa-times close-iccon" (click)="closeTv()"  aria-hidden="true" [style.display]="isOutside ? 'block' : 'none'"></i>
                  <i class="fa fa-arrows frmicon" [style.display]="isOutside ? 'block' : 'none'"></i>
                </span>
                <iframe [src]="urlSafe2" allowfullscreen="true"
              class="iframeboard"></iframe>
              </div>

            </div>
            <div data-v-5c7611c3="" class="absolute w-full h-0 left-0 top-0 -z-10"></div>
          </div> -->
          <div *ngIf="showTabs == 'scrd'">
            <iframe [src]="urlSafe" allowfullscreen="true" class="iframeboard"></iframe>
          </div>

        </div>


      </div>
      <!-- -----commented  -->
      <div class="px-2 mb-12" style="display: none;">
        <div>
          <div class="-mx-2 px-2 h-34px flex justify-between items-center bg-black">
            <p class="text-base text-white">Exchange</p>
            <div class="flex justify-center items-center"><span
                class="mr-1 text-10 text-market-exchange-tip opacity-85">Matched</span><span
                class="text-10 text-market-exchange-tip font-bold">PBU {{totalMatched}}</span></div>
          </div>

        </div>
        <div class="mt-2">
          <section class="p-2 pb-0 bg-secondary rounded-t-xl -mb-px">
            <div class="flex rounded-t-md overflow-hidden bg-market-tab w-max">
              <div class="relative text-14 w-100px -ml-10px">
                <div class="h-8 py-2" [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor"
                  [ngClass]="bets==1?'bg-market-tab-active rounded-t-md':''"></div><span
                  class="left-1/2 absolute top-1/2 -translate-y-1/2 -translate-x-1/2"
                  [style.color]="jsonWebdt?.imagesPlayNowTextColor"
                  [ngClass]="bets==1?'text-market-tab-text left-1/2':'text-market-tab-active left-[55%]'"
                  (click)="fBets(1)">FancyPlus</span>
              </div>
            </div>
          </section>
          <!-- premium fancy -->
          <div *ngIf="bets==1">
            <div data-v-7d578f35="" [style.color]="jsonWebdt?.imagesPlayNowTextColor"
              [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor"
              class="flex items-center bg-market-tab-active text-market-tab-text pl-1.5 pt-px"
              style="--27cc0d26: 36px; --44f3f56a: translateX(4px);">
              <div data-v-7d578f35="" class="overflow-x-scroll mr-2 -ml-0.5">
                <div data-v-7d578f35="" class="relative inline-block">
                  <div data-v-7d578f35="" class="w-full h-30px flex jusrify-center">
                    <div data-v-7d578f35="" class="text-13 font-bold py-2 px-2 mx-1 mt-px text-center">All</div>
                    <div data-v-7d578f35="" class="text-13 font-bold py-2 px-2 mx-1 mt-px text-center">Popular</div>
                    <div data-v-7d578f35="" class="text-13 font-bold py-2 px-2 mx-1 mt-px text-center">Match</div>
                    <div data-v-7d578f35="" class="text-13 font-bold py-2 px-2 mx-1 mt-px text-center">Over</div>
                    <div data-v-7d578f35="" class="text-13 font-bold py-2 px-2 mx-1 mt-px text-center">Innings</div>
                    <div data-v-7d578f35="" class="text-13 font-bold py-2 px-2 mx-1 mt-px text-center">Players</div>
                    <div data-v-7d578f35=""
                      class="tab-indicator absolute left-0 bottom-1 rounded-full bg-event-tab-num"></div>
                  </div>
                </div>
              </div>
              <div (click)="openRulesPopup()" data-v-7d578f35="" [style.color]="jsonWebdt?.imagesPlayNowTextColor"
                class="icon-info-circle block w-4 h-4 text-market-sub-icon ml-auto mr-2"></div>
            </div>
            <div class="rounded-b-lg">
              <div class="s-p-2 s-bg-betSlip-light dark:s-bg-betSlip-dark s-rounded-b-5px">
                <div *ngFor="let item of PFancyData; trackBy: trackByFn; let i = index;"
                  class="s-p-2 s-bg-betSlip-light s-rounded-b-5px dark:s-bg-betSlip-dark">
                  <div class="s-mb-3px" id="">
                    <div>
                      <div (click)="collapseData(i)"
                        class="s-relative s-py-2 s-pl-0 s-mb-0.5 s-flex s-justify-start s-items-center s-rounded-t-4px s-bg-black-100 dark:s-bg-secondary dark:s-text-global-font-default-dark s-min-h-35px">
                        <div class="-ml-2 sm:-ml-1 pt-px mb-3px">
                          <div data-v-117db823="" class="w-8 h-6 flex justify-center items-center"
                            style="--b64d5fc0: 0.5818181818181818; --3cad14f0: -0.7031249999999999rem;">
                            <div data-v-117db823="" class="fave bg-star-sprit-white-webp"></div>
                          </div>
                        </div>
                        <span class="s-text-14px s-px-2 s-flex-1 tnamecolor" id="">{{item.marketName}}</span>
                        <i class="fa-solid fa-chevron-down " id="DDR{{i}}" [class]="i<=2?'openar':''"></i>
                      </div>
                      <div class="s-grid s-grid-cols-2 s-gap-0.5 s-relatives" [class]="i>=3?'d-none':''"
                        id="sportSelData{{i}}">
                        <ng-container
                          *ngFor="let pfancydata of sortPFancyData(PFancyData[i].sportsBookSelection); trackBy: trackByFn; let j = index;">
                          <div>
                            <div id="premiumOddsDiv2036199901"
                              (click)="openPreFancyBetPlace('Premium', [{isBack : true, selectionId : pfancydata.id, selectionName : pfancydata.selectionName, odds : pfancydata.odds, matchName : eventData.matchname, eventId : eventId, sourceId : PFancyData[i].id, sourceName : item.marketName, sourceBetType : 'Premium', sportId : sportId}])"
                              class="betslipopen s-py-1.5 s-text-center s-flex s-flex-col s-justify-center s-items-center s-bg-back-200 dark:s-bg-back-400-dark s-min-0 s-relative s-overflow-hidden s-rounded-b-md s-min-h-53px spark"
                              title="back">
                              <div class="wrapper s-w-full s-h-full s-overflow-hidden s-top-0 s-left-0 s-z-10"
                                style="--0b879273: 0;">
                                <span
                                  class="mask s-w-full s-h-full s-opacity-10 s-bg-black-900 s-absolute s-left-0 s-top-0"
                                  style="display: none;"></span>
                                <span
                                  class="feedback s-block s-bg-white s-bg-opacity-25 s-rounded-full s-mix-blend-overlay s-absolute"
                                  style="display: none;"></span>
                              </div>
                              <p class="s-text-15px s-px-1 s-text-black-900 namecolor" id="">
                                {{pfancydata.selectionName}}</p>
                              <p class="s-text-10px s-text-black-900 oddcolor" id="premiumOdds2036199901">
                                {{pfancydata.odds}}</p>
                              <ng-container *ngFor="let pitem of PremiumfancyLiability;">
                                <div *ngIf="pitem.sourceId==PFancyData[i].id"
                                  class="s-rounded-full s-px-2 s-mt-0.5 s-bg-white s-bg-opacity-40">
                                  <ng-container *ngFor="let pitemdata of pitem.multiLiab;">
                                    <div *ngIf="pitemdata.selectionid==pfancydata.id"
                                      [class]="pitemdata.pnl >= 0 ? 'bookgreencolor' : 'bookredcolor'"
                                      class="s-forecast s-sportsbook-forecast s-text-10px s-leading-normal s-flex s-font-bold s-font-bold"
                                      data-testid="forecast">
                                      <span class="s-single-winner-forecast-context s-flex s-items-center"
                                        data-bet-type="SPORTSBOOK"
                                        [style]="pitemdata.pnl > 0 ?'color:green' :'color:red'">
                                        <span class="s-rotate-180 s-flex s-text-6px s-mx-0.5"></span>
                                        ({{pitemdata.pnl | number :'1.0-2'}})
                                      </span>
                                    </div>
                                  </ng-container>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                          <app-bet-place *ngIf="showPreFancyBet == pfancydata.id" [clsClr]="classclrforlayBack"
                            [data]="oddPrice" [updOddsBack]="pfancydata.odds" [socketEventData]="PFancyAllData.events"
                            [isInplay]="inplaystatus"
                            style="position:absolute;z-index: 99999;left:-.4%;"></app-bet-place>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div>
        <div>
          <div data-v-b21f4b8c="" class="market-wrapper h-34px flex items-center bg-primary"
            style="--8f2b3936: 22px; --d946a2ea: translateX(13px);" [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor">
            <div data-v-b21f4b8c="" class="relative overflow-x-scroll h-full inline-flex items-center">
              <div data-v-b21f4b8c="" class="relative inline-block mr-2">
                <ul data-v-b21f4b8c=""
                  class="ml-3 mr-1 h-full flex flex-nowrap justify-start items-center text-market-name space-x-7">
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="All" class="h-full flex items-center">All</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="Popular" class="h-full flex items-center whitespace-nowrap">Popular</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="2" class="h-full flex items-center whitespace-nowrap">Match</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="3" class="h-full flex items-center whitespace-nowrap">Innings</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="4" class="h-full flex items-center whitespace-nowrap">Over</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="5" class="h-full flex items-center whitespace-nowrap">Batsman</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="6" class="h-full flex items-center whitespace-nowrap">Partnership</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="10" class="h-full flex items-center whitespace-nowrap">Player</li>
                  <li data-v-b21f4b8c="" [style.color]="jsonWebdt?.imagesPlayNowTextColor" name="12" class="h-full flex items-center whitespace-nowrap">Boundary</li>
                </ul>
                <div data-v-b21f4b8c="" class="tab-indicator parlay -mx-1 mt-3px absolute rounded-full bg-market-name">
                </div>
              </div>
            </div>
          </div>
          <div class="px-2 py-2">
            <div>
              <div>
                <!-- <div class="mb-2 rounded-xl bg-white p-1" betinfoid="35237846">
                  <div>
                    <div class="relative py-2 flex justify-start items-center rounded-t-lg"><span
                        class="text-16 mx-2 icon-top"></span><span class="text-13 font-bold flex-1">Match
                        Winner</span><i
                        class="icon-arrow-down-sencodary text-11 mr-3 justify-self-end text-black transition-transform origin-center duration-300 transform rotate-180"></i>
                    </div>
                    <div class="grid-cols-2 grid gap-2px relative mt-1">
                      <div data-v-8600fba4=""
                        class="text-center flex flex-col justify-center items-center rounded-4px relative min-h-49px bg-black-300"
                        title="back" betinfoid="154894568">
                        <div data-v-8600fba4="" class="flex flex-col justify-center items-center w-full h-full py-1.5">
                          <i data-v-8600fba4="" class="absolute right-1 icon-triangle-odds-up top-1"></i>
                          <h3 data-v-8600fba4="" class="pb-1 px-2 text-11 font-normal w-full">West Indies Test</h3>
                          <p data-v-8600fba4="" class="text-15 font-bold text-success">29</p>
                          <div data-v-8600fba4="" class="rounded-full px-2 bg-white bg-opacity-40"></div>
                        </div>
                      </div>
                      <div class="absolute w-full h-full bg-black-700 bg-opacity-80 rounded-b-md rounded-t-md"
                        style="display: none;"><span
                          class="w-full h-full flex justify-center items-center text-global-font-on-dark text-11">Suspend</span>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="mb-2 rounded-xl bg-white p-1" betinfoid="35237831" style="" *ngFor="let item of PFancyData; trackBy: trackByFn; let i = index;">
                  <div >
                    <div class="relative py-2 flex justify-start items-center rounded-t-lg"  (click)="toggle(i)"><span
                        class="text-16 mx-2 icon-top"></span><span class="text-13 font-bold flex-1">{{item.marketName}}</span><i id="DDR{{i}}"  [class.openar]="isOpen(i)"
                        class="icon-arrow-down-sencodary text-11 mr-3 justify-self-end text-black transition-transform origin-center duration-300 transform rotate-180"></i>
                    </div>
                    <div class="grid-cols-2 grid gap-2px relative mt-1" [class.d-none]="i > 2 && !isOpen(i)" id="sportSelData{{i}}">
                      <ng-container *ngFor="let pfancydata of sortPFancyData(PFancyData[i].sportsBookSelection); trackBy: trackByFn; let j = index;">
                      <div data-v-8600fba4="" (click)="openPreFancyBetPlace('Premium', [{isBack : true, selectionId : pfancydata.id, selectionName : pfancydata.selectionName, odds : pfancydata.odds, matchName : eventData.matchname, eventId : eventId, sourceId : PFancyData[i].id, sourceName : item.marketName, sourceBetType : 'Premium', sportId : sportId}])"
                        class="text-center flex flex-col justify-center items-center rounded-4px relative min-h-49px bg-black-300"
                        title="back" betinfoid="154894532">
                        <div data-v-8600fba4="" class="flex flex-col justify-center items-center w-full h-full py-1.5">
                          <i data-v-8600fba4="" class="absolute right-1"></i>
                          <h3 data-v-8600fba4="" class="pb-1 px-2 text-11 font-normal w-full">{{pfancydata.selectionName}}</h3>
                          <p data-v-8600fba4="" class="text-15 font-bold">{{pfancydata.odds}}</p>
                          <div data-v-8600fba4="" class="rounded-full px-2 bg-white bg-opacity-40"></div>
                        </div>
                      </div>

                      <!-- <div class="absolute w-full h-full bg-black-700 bg-opacity-80 rounded-b-md rounded-t-md"
                        style="display: none;"><span
                          class="w-full h-full flex justify-center items-center text-global-font-on-dark text-11">Suspend</span>
                      </div> -->
                      <app-bet-place *ngIf="showPreFancyBet == pfancydata.id" [clsClr]="classclrforlayBack"
                            [data]="oddPrice" [updOddsBack]="pfancydata.odds" [socketEventData]="PFancyAllData.events"
                            [isInplay]="inplaystatus"
                            style="position:absolute;z-index: 99999;left:-.4%;"></app-bet-place>
                      </ng-container>
                    </div>
                  </div>
                </div>



              </div>
            </div>
            <div class="flex justify-center items-center">
              <div class="flex flex-1 justify-end items-center">
                <div class="flex items-center text-black-600" data-testid="betLimit"><i
                    class="px-1 mt-0.5 text-14 icon-min-max"></i><span class="px-0.5 text-11">min</span><span
                    class="px-1 text-11 font-bold">1</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  *ngIf="betCount > 0" class="stickyLeftContainer fixed left-2 top-1/2 transform -translate-y-1/2 pb-7px
        flex gap-2 flex-col justify-end items-end z-10" (click)="openmatchBetSlip()">
        <div class="relative cursor-pointer flex flex-col items-center justify-center w-45px h-45px
          rounded-full bg-primary text-menu-active-icon font-bold"
          [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor">
          <div class="flex items-center justify-center text-22 h-full">
            <i class="absolute text-22 icon-parlay-list" [style.color]="jsonWebdt?.imagesPlayNowTextColor"></i>
            <span class="absolute flex justify-center items-center rounded-full w-4 h-4 text-9
              font-bold text-white bg-parlay-down top-1.5 right-1.5">
              <span class="scale-75">{{ betCount }}</span>
            </span>
          </div>
        </div>
      </div>
      <div data-v-63c2856d="" class="stickyLeftContainer fixed left-2 z-10 pb-7px flex gap-2 flex-col justify-end items-end" style="--772806b8: 5.857142857142857rem;"><div class="relative cursor-pointer flex flex-col items-center justify-center w-45px h-45px rounded-full bg-primary text-menu-active-icon font-bold"><span class="absolute text-22 icon-parlay-list"></span><span class="absolute flex justify-center items-center rounded-full w-4 h-4 text-9 font-bold text-white bg-parlay-down top-1.5 right-1.5"><span class="scale-75">1</span></span></div></div>
      <app-main-footer></app-main-footer>

      <div *ngIf="hideHeader1" data-v-66df63c1="" @fadeInOut
        class="fixed flex-col top-0 bottom-0 left-0 w-full z-50 bg-black text-global-font-on-light px-1"
        style="z-index: 2000;">
        <div data-v-66df63c1="" class="relative modal-title py-4 bg-pop-title">
          <h4 data-v-66df63c1="" class="pl-2 mb-0 font-bold text-13 text-center text-pop-title">Fancybet Rule</h4>
          <span (click)="openRulesPopup()" data-v-66df63c1=""
            class="absolute right-4 top-3 icon-close text-white text-base"></span>
        </div>
        <div data-v-66df63c1="" class="modal-content px-7 pt-4 leading-6 rounded-t-lg bg-white overflow-y-scroll">
          <ol data-v-ee7eeac6="" data-v-66df63c1="" class="pl-3.5 mb-4">
            <li data-v-ee7eeac6="" class="list-decimal text-base">All Fancy Bets Will Be Validated When Match Has Been
              Tied.
              <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">All Advance Fancy Will Be Suspended Before Toss Or
              Weather
              Condition. <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">In Case Technical Error Or Any Circumstances Any
              Fancy Is
              Suspended And Does Not Resume Result Will Be Given All Previous Bets Will Be Valid. <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">If Any Case Wrong Rate And Wrong Commentary Has Been
              Given
              In Fancy That Particular Bets Will Be Cancelled. <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">In Any Circumstances Management Decision Will Be
              Final
              Related To All Exchange Items. <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">In Case Customer Make Bets In Wrong Fancy We Are Not
              Liable
              To Delete, No Changes Will Be Made And Bets Will Be Consider As Confirm Bet. <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">Due To Any Technical Error Market Is Open And Result
              Has
              Came All Bets After Result Will Be Deleted. <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">Four, Sixes, Wide, Wicket, Extra Run, Total Run,
              Highest
              Over And Top Batsman,Maiden Over,Caught-Out,No-Ball,Run-Out,Fifty And Century Are Valid Only Match Has
              Been
              Completed In Case Due To Rain Over Has Been Reduced All Other Fancy Will Be Deleted.All Complet Event
              Are Valid
              E.X 1 Over Run Team A Etc.. . <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">ODI / T10 / T20 / TEST

              Penalty Runs Will Be Counted <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">Due To Mistakes In Official Scorecard Our Scorecard
              And
              Results Will Be Valid. <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">Minimum Number Of Legal Over Has To Be Bowled By The
              Bowler
              Mentioned In The Event, Else The Same Will Not Be Considered As Valid. <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">Mystery Free Hit Boundaries Will Not Counted In
              Player
              Boundaries... <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">PLAYER BOOKMAKER <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">Suppose Either No1 Or No2 Player Score Compare To Run But
                  Which Ever
                  IS Higher Score IS Win</li>
                <li data-v-ee7eeac6="" class="font-base">Explaination Of Player Bookmaker: Compare Both Player Runs At
                  Wicket
                  ..If V Kohli Runs 22 And R.Sharma Run 20 At The Moment Of WICKET Then V KOHLI Will BE Winner.</li>
                <li data-v-ee7eeac6="" class="font-base">If Both Player Score Is Level It's Means Virat Khohali &amp;
                  Rohit
                  Sharma Both Are Either Out Match Over Is Complete, It's Mean Game Is Tie</li>
                <li data-v-ee7eeac6="" class="font-base">If Match Are Interpreted Due To Bed Weather Or Any Thing Else
                  At That
                  Time Law Score Player Run Are Not Count And Match Are Declared To ABOUNDED</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">CHEATING <ul data-v-ee7eeac6="" class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">Cheating Of Any Kind Is Not Allowed And Customers Bets Who
                  Are Deemed
                  To Be Cheating Are Liable To Have Bets Made Void. Cheating Includes But Is Not Limited To; Market
                  Price
                  Manipulation, Court Siding, Sniping And Commission Abuse.</li>
                <li data-v-ee7eeac6="" class="font-base">The Site Reserves The Right To Void Any Bets That Are Under
                  Review As
                  Part Of Any Integrity Investigation.</li>
                <li data-v-ee7eeac6="" class="font-base">The Site May Void Certain Bets In A Market Or Void A Whole
                  Market In
                  Its Entirety As A Result Of Any Integrity Investigation.</li>
                <li data-v-ee7eeac6="" class="font-base">The Site's Decision In Such Integrity Cases Shall Be ﬁnal And
                  Binding
                  Upon The Customer.</li>
                <li data-v-ee7eeac6="" class="font-base">Customers Using VPN Applications To Mask Location Or Proxy
                  Servers To
                  Mask Device Are Liable To Having Bets Invalidated. Customers Appearing From Multiple IP Locations
                  Are Also
                  Liable To Having Bets Invalidated.</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">TEST <ul data-v-ee7eeac6="" class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">1 Session:-</li>
                <li data-v-ee7eeac6="" class="font-base">Complete Session Valid In Test.</li>
                <li data-v-ee7eeac6="" class="font-base">Session Is Not Completed For Ex:- India 60 Over Run Session
                  Ind Is
                  Running In Case India Team Declares Or All-Out At 55 Over Next 5 Over Session Will Be Continue In
                  England
                  Inning.</li>
                <li data-v-ee7eeac6="" class="font-base">1st Day 1st Session Run Minimum 25 Over Will Be Played Then
                  Result Is
                  Given Otherwise 1st Day 1st Session Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">1st Day 2nd Session Run Minimum 25 Over Will Be Played Then
                  Result Is
                  Given Otherwise 1st Day 2nd Session Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">1st Day Total Run Minimum 80 Over Will Be Played Then Result
                  Is Given
                  Otherwise 1st Day Total Run Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">Test Match Both Advance Session Is Valid.</li>
                <li data-v-ee7eeac6="" class="font-base">2. Test Lambi/ Inning Run:-</li>
                <li data-v-ee7eeac6="" class="font-base">2.1 Mandatory 70 Over Played In Test Lambi Paari/ Innings
                  Run. If Any
                  Team All-Out Or Declaration Lambi Paari/ Innings Run Is Valid.</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Due To Weather Situation Match Has Been Stopped All
                  Lambi
                  Trades Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">In Test Both Lambi Paari / Inning Run Is Valid In Advance
                  Fancy.</li>
                <li data-v-ee7eeac6="" class="font-base">3. Test Batsman:-</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Batsmen Is Injured He/She Is Made 34 Runs The Result
                  Will Be
                  Given 34 Runs.</li>
                <li data-v-ee7eeac6="" class="font-base">Batsman 50/100 Run If Batsman Is Injured Or Declaration The
                  Result
                  Will Be Given On Particular Run.</li>
                <li data-v-ee7eeac6="" class="font-base">In Next Men Out Fancy If Player Is Injured Particular Fancy
                  Will Be
                  Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">In Advance Fancy Opening Batsmen Is Only Valid If Same
                  Batsmen Came
                  In Opening The Fancy Will Be Valid In Case One Batsmen Is Changed That Particular Player Fancy Will
                  Be
                  Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">Test Match Both Advance Fancy Batsmen Run Is Valid.</li>
                <li data-v-ee7eeac6="" class="font-base">4. Other Fancy Advance (Test):-</li>
                <li data-v-ee7eeac6="" class="font-base">Four, Sixes, Wide, Wicket, Extra Run, Total Run, Highest Over
                  And Top
                  Batsmen Is Valid Only If 300 Overs Has Been Played Or The Match Has Been Won By Any Team Otherwise
                  All These
                  Fancy Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">5. Concussion In Test:-</li>
                <li data-v-ee7eeac6="" class="font-base">All Bets Of One Over Session Will Be Deleted In Test
                  Scenario, In
                  Case Session Is Incomplete. For Example Innings Declared Or Match Suspended To Bad Light Or Any
                  Other
                  Conditions.</li>
                <li data-v-ee7eeac6="" class="font-base">Total Match- Events (Test):-</li>
                <li data-v-ee7eeac6="" class="font-base">Minimum Of 300 Overs To Be Bowled In The Entire Test Match,
                  Otherwise
                  All Bets Related To The Particular Event Will Get Void. For Example, Total Match Caught Outs Will Be
                  Valid
                  Only If 300 Overs Been Bowled In The Particular Test Match</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">ODI / T20 <ul data-v-ee7eeac6="" class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">1. Session:-</li>
                <li data-v-ee7eeac6="" class="font-base">Match 1st Over Run Advance Fancy Only 1st Innings Run Will Be
                  Counted.</li>
                <li data-v-ee7eeac6="" class="font-base">For Example:- 35 Over Run Team A Is Playing Any Case Team A
                  Is
                  All-Out In 33 Over Team A Has Made 150 Run The Session Result Is Validated On Particular Run.</li>
                <li data-v-ee7eeac6="" class="font-base">Advance Session &amp; All Fancy Is Valid In Only 1st Innings.
                </li>
                <li data-v-ee7eeac6="" class="font-base">2. 50 Over Runs:-</li>
                <li data-v-ee7eeac6="" class="font-base">2.1. In Case 50 Over Is Not Completed All Bet Will Be Deleted
                  Due To
                  Weather Or Any Condition.</li>
                <li data-v-ee7eeac6="" class="font-base">Advance 50 Over Runs Is Valid In Only 1st Innings.</li>
                <li data-v-ee7eeac6="" class="font-base">3. Odi / T20 Batsman Runs:-</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Batsman Is Injured He/She Is Made 34 Runs The Result
                  Will Be
                  Given 34 Runs.</li>
                <li data-v-ee7eeac6="" class="font-base">In Next Men Out Fancy If Player Is Injured Particular Fancy
                  Will Be
                  Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">In Advance Fancy Opening Batsmen Is Only Valid If Same
                  Batsmen Came
                  In Opening The Fancy Will Be Valid In Case One Batsmen Is Changed That Particular Player Fancy Will
                  Be
                  Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">4. T20 Over Runs:-</li>
                <li data-v-ee7eeac6="" class="font-base">Advance 20 Over Run Is Valid Only In 1st Innings. 20 Over Run
                  Will
                  Not Be Considered As Valid If 20 Overs Is Not Completed Due To Any Situation.</li>
                <li data-v-ee7eeac6="" class="font-base">5. T20 / ODI Batsman Runs:-</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Batsman Is Injured He/She Is Made 34 Runs The Result
                  Will Be
                  Given 34 Runs.</li>
                <li data-v-ee7eeac6="" class="font-base">In Next Men Out Fancy If Player Is Injured Particular Fancy
                  Will Be
                  Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">In Advance Fancy Opening Batsmen Is Only Valid If Same
                  Batsmen Came
                  In Opening The Fancy Will Be Valid In Case One Batsmen Is Changed That Particular Player Fancy Will
                  Be
                  Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">6. At The Moment Of The Third Umpire Decision We Can't Accept
                  Bets In
                  Any Fancy And Match Odds.</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">OTHER FANCY <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">T-20 ,One Day And Test Match In Case Current Innings Player
                  And
                  Partnership Are Running In Between Match Has Been Called Off Or Abandoned That Situation All Current
                  Player
                  And Partnership Results Are Valid.</li>
                <li data-v-ee7eeac6="" class="font-base">1st Wicket Lost To Any Team Balls Meaning That Any Team 1st
                  Wicket
                  Fall Down In How Many Balls That Particular Fancy At Least Minimum One Ball Have To Be Played
                  Otherwise Bets
                  Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">1st Wicket Lost To Any Team Fancy Valid Both Innings.</li>
                <li data-v-ee7eeac6="" class="font-base">How Many Balls For 50 Runs Any Team Meaning That Any Team
                  Achieved 50
                  Runs In How Many Balls That Particular Fancy At Least One Ball Have To Be Played Otherwise That
                  Fancy Bets
                  Will Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">How Many Balls For 50 Runs Fancy Any Team Only First Inning
                  Valid.
                </li>
                <li data-v-ee7eeac6="" class="font-base">How Many Balls Face Any Batsman Meaning That Any Batsman How
                  Many
                  Balls He/She Played That Particular Fancy At Least One Ball Have To Be Played Otherwise That Fancy
                  Bets Will
                  Be Deleted.</li>
                <li data-v-ee7eeac6="" class="font-base">How Many Balls Face By Any Batsman Both Innings Valid.</li>
                <li data-v-ee7eeac6="" class="font-base">Dot Balls Event... Only No Run Will Count As Dot Ball. If
                  Wicket
                  Means That Will Not Count As Dot Ball.</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">LUNCH FAVOURITE <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">The Team Which Is Favourite At Lunch Will Be Considered As
                  Lunch
                  Favourite Or The Team Which Is Favourite After First Inning Last Ball Will Be Considered As Lunch
                  Favourite
                  In Our Exchange.</li>
                <li data-v-ee7eeac6="" class="font-base">In Any Circumstances Management Decision Will Be Final.</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Of Tie In T20 Or One Day In Lunch Favourite Game ,
                  All Bets
                  Will Be Deleted In Our Exchange.</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Overs Are Reduced In A Match, The Team Which
                  Favourite At
                  Lunch Will Be Considered As Lunch Favourite.</li>
                <li data-v-ee7eeac6="" class="font-base">For Example :- If Match Is Reduced To 18 Over Per Side In T20
                  Or
                  Oneday Then After 18 Over The Team Which Is Favourite At Lunch Will Be Considered As Lunch
                  Favourite.</li>
                <li data-v-ee7eeac6="" class="font-base">In Case Of Weather, 1st Innings Match Overs Are Reduced And
                  Direct
                  Target Is Given To Team Which Will Bat In 2nd Inning Then Lunch Favourite Will Be Considered After
                  Target Is
                  Given At Lunch.</li>
                <li data-v-ee7eeac6="" class="font-base">For Example :- In T20 Match Rain Comes At 14 Over And Match
                  Is
                  Interrupted Due To Rain And Direct Target Is Given To 2nd Batting Team, Then Team Which Is Favourite
                  In
                  Match Odds After Target Is Given In Match, Will Be Considered As Lunch Favourite.</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">KHADO <ul data-v-ee7eeac6="" class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">You Can Choose Your Own Value In This Event.</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">PLAYER RACE RULES <ul data-v-ee7eeac6=""
                class="pl-3.5 py-1">
                <li data-v-ee7eeac6="" class="font-base">All profits will be calculated at .97</li>
                <li data-v-ee7eeac6="" class="font-base">Opposite batsman must atleast face 1 delivery in the innings
                  or bets
                  will be voided. (only for player run race) bets will only be considered valid if Full both innings
                  are
                  played or the team is all out.</li>
                <li data-v-ee7eeac6="" class="font-base">Bets will be voided if for any reason the overs of the match
                  are
                  reduced in any innings during the match except for player run race and/or if both the bowlers aginst
                  each
                  other have bowled full overs. (e.g., bumrah v rashid &amp; both have bowled 4 overs/each in a t20
                  before the
                  overs get reduced</li>
                <li data-v-ee7eeac6="" class="font-base">If both players (batsman/bowler/wicket keeper/team) score is
                  equal
                  then the result will be tied. the highest scoring player (batsman/bowler/wicket keeper/team) will be
                  considered winner and diferrence (run/wicket/catcheswill be calculated accordingly the bonus points
                  given
                  (player/bowler/wicket keeper/team) will be considered and the difference will be calculated
                  accordingly</li>
              </ul>
            </li>
            <li data-v-ee7eeac6="" class="list-decimal text-base">Total Match 30s: In this market, If player's score
              between
              30 to 49 Runs that will be considered in this Market. If a player reached 50 or above, they aren't
              considerd in
              this event. <ul data-v-ee7eeac6="" class="pl-3.5 py-1"></ul>
            </li>
          </ol>
        </div>
      </div>
      <div data-v-f43ca18c="" *ngIf="showBetMsg">
        <div class="absolute left-0 top-0 w-full h-full z-50" data-testid="toast-overlay"></div>
        <div class="w-full">
          <div class="fixed bottom-0 z-50 w-full space-y-2.5" currencyalias="PKU">
            <div>
              <div class="text-center flex rounded-t-2xl justify-center p-1 "
                [ngClass]="betSuccess[2].type == 'success'? 'bg-success' : 'bg-error'" data-testid="toast-container">
                <div class="w-full">
                  <div class="flex justify-center items-center text-global-font-on-dark font-bold py-2 mb-1"><i
                      class="text-global-font-on-dark text-16 icon-notice" data-testid="toast-icon-title"></i>
                    <h4 class="ml-1 leading-none" data-testid="toast-title">{{betSuccess[2].type}}</h4>
                    <div class="icon-close absolute right-5 text-14" data-testid="toast-btn-close-toast"
                      (click)="closeBet()"></div>
                  </div>
                  <div class="px-2 py-4 rounded-lg bg-white bg-opacity-87 text-13 text-global-font-on-light"
                    data-testid="toast-content">{{betSuccess[2].message}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-bet-place-parlay *ngIf="openBetSlip" (closeDt)="closeParlyBet($event)"
        style="position: absolute;"></app-bet-place-parlay>
    </div>

  </div>
</main>




<!-- bet error success message -->

<div *ngIf="loading">
  <app-loader></app-loader>
</div>
