<!-- Login Popup -->
<div class="wrap-pop language-pop" [ngClass]="{ 'langshow': showlangpop, 'langhide': !showlangpop }">
  <div class="pop-title ng-tns-c2605279879-5 ng-star-inserted">
    <h3 class="ng-tns-c2605279879-5">Currency and Language</h3><a (click)="closelang()"
      class="btn-close ng-tns-c2605279879-5"><span class="item-icon ng-tns-c2605279879-5"
        style="background-image: url(&quot;/assets/images/icon-cross-type01.svg?v=1726575604702&quot;);"></span></a>
  </div>
  <div class="pop-inner ng-tns-c2605279879-5">
    <ul class="language-list ng-tns-c2605279879-5">
      <li class="ng-tns-c2605279879-5 ng-star-inserted">
        <div class="left-language-area ng-tns-c2605279879-5"><img fetchpriority="high" class="ng-tns-c2605279879-5"
            alt="BDT" src="/assets/images/BD.png?v='1.01'" loading="lazy">
          <p class="reset"><span class="ng-tns-c2605279879-5">৳ </span> BDT </p>
        </div>
        <div class="right-language-area ng-tns-c2605279879-5">
          <div class="radio-box ng-tns-c2605279879-5 ng-star-inserted" (click)="setActiveLang('en')"><input type="radio"
              [checked]="lang=='en'" name="language" class="ng-tns-c2605279879-5" id="en"><label
              class="ng-tns-c2605279879-5" for="BDT0"> English
            </label></div>
          <div class="radio-box ng-tns-c2605279879-5 ng-star-inserted" (click)="setActiveLang('bd')">
            <input type="radio" [checked]="lang=='bd'" name="language" class="ng-tns-c2605279879-5" id="bd">
            <label class="ng-tns-c2605279879-5" for="BDT0"> বাংলা</label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div [ngClass]="{ 'bshow': showlangpop, 'hide': !showlangpop }" (click)="closelang() "
  class="pop-bg ng-tns-c2605279879-5 ng-trigger ng-trigger-popBgTriggerAni ng-star-inserted"></div>


<!-- mobile header  -->
<header (click)="$event.stopPropagation()" id="header" [style]="{'background':themeData?.masterBgColor1}"
  class="normal ng-star-inserted header-down">
  <div class="header-left-btn-group">
    <div class="back-btn" [style]="{'background':themeData?.masterTextColor1}"></div>
    <div class="menu-btn" [style]="{'background':themeData?.masterBgColor1, 'margin' : '0'}" (click)="openSidebar()">
      <ul>
        <li [style]="{'background':themeData?.masterTextColor1}"></li>
        <li [style]="{'background':themeData?.masterTextColor1}"></li>
        <li [style]="{'background':themeData?.masterTextColor1}"></li>
      </ul>
    </div>
  </div>
  <div class="logo headLogo" tabindex="0" routerLink="/home" style="background-image: url('https://b2bcasinoimagesupplybackend2.ctfcgames.com/images/178237509378913/Logo?v=1');">
  </div>

  <div *ngIf="!loggedIn" class="header-btn-group ng-star-inserted">
    <a class="login header-link ng-star-inserted"
      [style]="{'background':themeData?.loginButtonBackground,'color':themeData?.loginButtonTextColor}"
      routerLink="/login">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">{{"LOGIN" | transloco }}</font>
      </font>
    </a>
    <a  *ngIf="jsonWeblinksdt?.signupShowing == 'true'" (click)="openSignup(jsonWeblinksdt?.signupContent)" class="register header-link ng-star-inserted"
      [style]="{'background':themeData?.signupButtonBackground,'color':themeData?.signupButtonTextColor}">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">{{"SIGNUP" | transloco }}</font>
      </font>
    </a>
    <div class="language-select" (click)="selectLang()">
      <img fetchpriority="high" alt="BD" src="/assets/images/BD.png"
        loading="lazy">
    </div>
  </div>
  <div *ngIf="loggedIn" class="header-right-btn-group ng-star-inserted">
    <div class="cricket-money">
      <div (click)="upDateBalance()" class="icon-refresh"
        style="mask-image: url('../../../assets/bjimage/icons/icon-refresh-type01.svg'); -webkit-mask-image: url('../../../assets/bjimage/icons/icon-refresh-type01.svg');">
      </div> PBU&nbsp;<span class="mainBalance">{{balInfo | number : '.2-2'}}</span>
    </div>
    <div class="exp" style="margin-right: 7px;"> EXP <span id="exposureMob">{{expoInfo | number : '.2-2'}}</span>
    </div>
    <div routerLink="/account" style="aspect-ratio:1;"><img fetchpriority="high" src="/assets/images/account-icons/profile.svg" alt="image"
        class="svg-icons"
        [style]="{'filter':themeData?.menyIconColor, 'border-radius':'50%;', 'border':'1px solid #fff'}"></div>
  </div>

</header>

<main>
  <div *ngIf="isSidebarOpen" id="menubox">
    <div id="menu" class="menu show ng-star-inserted" [ngClass]="{'active': isSidebarOpen}">
      <div class="btn-close" style="mask-image: url(/assets/images/icon-set/icon-close.svg);">
      </div>
      <div class="menu-first" (click)="$event.stopPropagation()">
        <div class="menu-top" style="opacity: 1; transform: translate(0px, 0px);">
          <div class="menu-header" [style.--headerBgmain]="themeData?.masterBgColor1">
            <img fetchpriority="high" src="/assets/images/profile.png" alt="">
            <div *ngIf="!loggedIn" class="member-name ng-star-inserted" [style]="{'color':themeData?.masterTextColor1}"><span
                class="ng-tns-c3392045011-3 ng-star-inserted">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Hi, welcome.</font>
                </font>
              </span></div>
            <div *ngIf="loggedIn" class="member-name ng-tns-c3392045011-16 ng-star-inserted">
              <div id="account" class="account ng-tns-c3392045011-16 ng-star-inserted"><!----><!----></div><!---->
              <p id="profile_text" class="ng-tns-c3392045011-16" [style]="{'color':themeData?.masterTextColor1}"
                routerLink="/account" (click)="close()" style="display: flex;">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">{{ "PROFILE" | transloco }}</font>
                </font>
              </p>
            </div>
            <div *ngIf="loggedIn" routerLink="/account" (click)="close()"
              class="icon-arrow ng-tns-c3392045011-16 ng-star-inserted"
              [style]="{'background':themeData?.masterTextColor1}"
              style="mask-image: url(/assets/images/icon-set/icon-arrow-type09.svg); display: flex;width: 3vw;">
            </div>
          </div>
          <div *ngIf="!loggedIn" class="beforelogin ng-star-inserted" [style]="{'background':themeData?.homenavsvgbgcolor}">
            <div class="login-button">
              <span [style]="{'background':themeData?.homenavsvgtextcolor}"
                style="-webkit-mask-image: url(/assets/images/icon-set/icon-login.svg);" class="ng-tns-c3392045011-3">
              </span>
              <a class="ng-tns-c3392045011-3" [style]="{'color':themeData?.homenavsvgtextcolor}" routerLink="/login"
                (click)="close()">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">{{"LOGIN" | transloco }}</font>
                </font>
              </a>
            </div>
            <div class="register-button"  *ngIf="jsonWeblinksdt?.signupShowing == 'true'" (click)="openSignup(jsonWeblinksdt?.signupContent)" (click)="close()">
              <span [style]="{'background':themeData?.homenavsvgtextcolor}"
                style="-webkit-mask-image: url(/assets/images/icon-set/icon-register.svg);" class="ng-tns-c3392045011-3">
              </span>
              <a class="ng-tns-c3392045011-3" [style]="{'color':themeData?.homenavsvgtextcolor}">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">{{"SIGNUP" | transloco}}</font>
                </font>
              </a>
            </div>
          </div>
          <div *ngIf="loggedIn" class="afterlogin marquee ng-tns-c3392045011-16 ng-star-inserted"
            [style]="{'background':themeData?.homenavsvgbgcolor}">
            <div class="main-wallet ng-tns-c3392045011-16">
              <div class="wallet ng-tns-c3392045011-16" [style]="{'color':themeData?.homenavsvgtextcolor}">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">{{"MAINWALLET" | transloco }}</font>
                </font>
                <div class="icon-refresh ng-tns-c3392045011-16" [class]="spinner ? 'active' : ''"
                  [style]="{'background':themeData?.homenavsvgtextcolor}" (click)="upDateBalance()"
                  style="mask-image: url(/assets/images/icon-refresh-type01.svg);">
                </div>
              </div>
              <div class="amount ng-tns-c3392045011-16">
                <span class="amount ng-tns-c3392045011-16" [style]="{'color':themeData?.homenavsvgtextcolor}"><i
                    class="ng-tns-c3392045011-16">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">PBU&nbsp;{{balInfo | number : '.2-2'}}</font>
                    </font>
                  </i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="toggle-container">
          <div class="hk-toggle hk-tg-2">
            <input type="checkbox" id="tg2" (change)="toggleSwitch()" [checked]="isToggled">
            <label for="tg2"></label>
          </div>
            <p>Classic Version </p>
        </div>
        <div class="menu-item">
          <div class="ng-tns-c3392045011-3">

            <ul class="main-box">
              <li class="ng-tns-c3392045011-3 game-nav-item ng-star-inserted"
                [style]="{'background':themeData?.sidebarBg}" [class]="activeMenu == 'sports' ? 'active' : ''"
                data-category-type-id="0" (click)="menuTabs('sports')" gallery-image-key="ICON_SPORT"><a
                  class="ng-tns-c3392045011-3"><span class="item-icon"
                    style="mask-image: url(/assets/images/icon-set/icon-sport.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'SPORTS'}}</font>
                    </font>
                  </p>
                </a></li>
              <li class="ng-tns-c3392045011-3 game-nav-item ng-star-inserted"
                [style]="{'background':themeData?.sidebarBg}" [class]="activeMenu == 'casino' ? 'active' : ''"
                data-category-type-id="0" gallery-image-key="ICON_CASINO"><a (click)="menuTabs('casino')"
                  class="ng-tns-c3392045011-3"><span class="item-icon"
                    style="mask-image: url(/assets/images/icon-set/icon-casino.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'LIVECASINO'}}</font>
                    </font>
                  </p>
                </a></li>
              <li class="ng-tns-c3392045011-3 game-nav-item ng-star-inserted"
                [style]="{'background':themeData?.sidebarBg}" data-category-type-id="0"
                [class]="activeMenu == 'slot' ? 'active' : ''" gallery-image-key="ICON_SLOT">
                <a (click)="menuTabs('slot')" class="ng-tns-c3392045011-3"><span class="item-icon"
                    style="mask-image: url(/assets/images/icon-set/icon-slot.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'SLOTS' }}</font>
                    </font>
                  </p>
                </a>
              </li>
              <li class="ng-tns-c3392045011-3 game-nav-item ng-star-inserted"
                [style]="{'background':themeData?.sidebarBg}" data-category-type-id="0"
                [class]="activeMenu == 'table' ? 'active' : ''" gallery-image-key="ICON_TABLE"><a
                  (click)="menuTabs('table')" class="ng-tns-c3392045011-3"><span class="item-icon"
                    style="mask-image: url(/assets/images/icon-set/icon-table.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'TABLE'}}</font>
                    </font>
                  </p>
                </a></li>
              <li class="ng-tns-c3392045011-3 game-nav-item ng-star-inserted"
                [style]="{'background':themeData?.sidebarBg}" data-category-type-id="0"
                [class]="activeMenu == 'fishing' ? 'active' : ''" gallery-image-key="ICON_FISH"
                style="opacity: 1; transform: translate(0px, 0px);"><a (click)="menuTabs('fishing')"
                  class="ng-tns-c3392045011-3"><span class="item-icon"
                    style="mask-image: url(/assets/images/icon-set/icon-fish.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'FISHING'}}</font>
                    </font>
                  </p>
                </a></li>
              <li class="ng-tns-c3392045011-3 game-nav-item ng-star-inserted"
                [style]="{'background':themeData?.sidebarBg}" data-category-type-id="0" gallery-image-key="ICON_LOTTERY"
                (click)="menuTabs('lottery')" [class]="activeMenu == 'lottery' ? 'active' : ''"
                style="opacity: 1; transform: translate(0px, 0px);"><a class="ng-tns-c3392045011-3"><span
                    class="item-icon"
                    style="mask-image: url(/assets/images/icon-set/icon-lottery.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'LOTTERY'}}</font>
                    </font>
                  </p>
                </a></li>
            </ul>
            <!-- <ul class="contact-box" style="opacity: 1; transform: translate(0px, 0px);"
              [style]="{'background':themeData?.sidebarBg}">
              <li class="ng-tns-c3392045011-3 telegram ng-star-inserted" data-category="telegram"
                (click)="openAffiliate()"><a class="ng-tns-c3392045011-3"><span
                    class="ng-tns-c3392045011-3 ng-star-inserted"
                    style="mask-image: url(/assets/images/left-menu-icon-bottom/affiliate.svg?v=1.01);background: var(--sideIconColor);mask-repeat:no-repeat;mask-size:90%;"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'AFFILIATE'}}</font>
                    </font>
                  </p>
                </a></li>
            </ul> -->
            <ul class="home-box" style="opacity: 1; transform: translate(0px, 0px);"
              [style]="{'background':themeData?.sidebarBg}">
              <li data-category="home" (click)="close()" class="ng-tns-c3392045011-3"><a class="ng-tns-c3392045011-3"
                  routerLink="/home"><span class="ng-tns-c3392045011-3"
                    style="mask-image: url(/assets/images/icon-set/icon-home.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{'HOME'
                        }}</font>
                    </font>
                  </p>
                </a></li>
              <li *ngIf="!loggedIn" data-category="login" class="ng-tns-c3392045011-3 ng-star-inserted">
                <a class="ng-tns-c3392045011-3" routerLink="/login" (click)="close()">
                  <span class="ng-tns-c3392045011-3"
                    style="mask-image: url(/assets/images/icon-set/icon-login.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{"LOGIN" | transloco }}</font>
                    </font>
                  </p>
                </a>
              </li>
              <li *ngIf="loggedIn" class="ng-tns-c3392045011-3 ng-star-inserted">
                <a class="ng-tns-c3392045011-3" (click)="logout()" (click)="close()">
                  <span class="ng-tns-c3392045011-3"
                    style="mask-image: url(/assets/images/icon-set/icon-login.svg);background: var(--sideIconColor);"
                    [style.--sideIconColor]="themeData?.sidemenusvgicocolor"></span>
                  <p class="ng-tns-c3392045011-3" [style]="{'color':themeData?.sidebarTextColor}">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{"LOGOUT" | transloco }}</font>
                    </font>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-second ng-tns-c41-5">
        <ul *ngIf="sportsmenu" class="menu-second-ul ng-tns-c41-5 ng-star-inserted sportsmenu" [class.active]="activeMenu === 'sports'">
          <li class="ng-tns-c41-5 ng-star-inserted">
            <a tabindex="-1" class="ng-tns-c41-5" (click)="navigateToExch()">
              <div class="ng-tns-c41-5 icon-sport exchange ng-star-inserted"></div>
              <p class="ng-tns-c41-5" [style]="{'color':themeData?.sidebarTextColor}">Exchange</p>
            </a>
          </li>
          <li class="ng-tns-c41-5 ng-star-inserted">
            <a tabindex="-1" class="ng-tns-c41-5" (click)="opensabagamesmob('/sabaSports/1/3/gn001')">
              <div class="ng-tns-c41-5 icon-sport sportbook ng-star-inserted"></div>
              <p class="ng-tns-c41-5" [style]="{'color':themeData?.sidebarTextColor}">Sportsbook</p>
            </a>
          </li>
          <li class="ng-tns-c41-5 ng-star-inserted">
            <a tabindex="-1" class="ng-tns-c41-5" (click)="opensabagamesmob('/sabaSports/179/3/gn001')">
              <div class="ng-tns-c41-5 icon-sport virtual ng-star-inserted"></div>
              <p class="ng-tns-c41-5" [style]="{'color':themeData?.sidebarTextColor}">Virtual</p>
            </a>
          </li>
          <li class="ng-tns-c41-5 ng-star-inserted">
            <a tabindex="-1" class="ng-tns-c41-5" (click)="opensabagamesmob('/sabaSports/1/3/gn001')">
              <div class="ng-tns-c41-5 icon-sport horsebook ng-star-inserted"></div>
              <p class="ng-tns-c41-5" [style]="{'color':themeData?.sidebarTextColor}">Horse Racing</p>
            </a>
          </li>
        </ul>
        <ul *ngIf="casinomenu" class="menu-second-ul ng-tns-c41-5 ng-star-inserted casinomenu" [class.active]="activeMenu === 'casino'">
          <li class="ng-star-inserted" (click)="navigateToGames('LIVE', 'EVOLUTION')">
            <a tabindex="-1" vender="Evo">
              <img fetchpriority="high" alt="provider-evo" src="/assets/images/games/EVOLUTION.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">Evo</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('LIVE', 'SEXY')">
            <a tabindex="-1" vender="Sexy">
              <img fetchpriority="high" alt="provider-awcmsexy" src="/assets/images/games/SEXYBCRT.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">Sexy</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('LIVE', 'PRAGMATICPLAY')">
            <a tabindex="-1" vender="PP">
              <img fetchpriority="high" alt="provider-awcmpp" src="/assets/images/games/PRAGMATICPLAY.webp"
                loading="lazy" class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">PP</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('LIVE', 'PLAYTECH')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/PLAYTECH.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">PT</p>
            </a>
          </li>
        </ul>

        <ul *ngIf="slotmenu"class="menu-second-ul ng-tns-c41-5 ng-star-inserted slotmenu" [class.active]="activeMenu === 'slot'">
          <li class="ng-star-inserted" (click)="navigateToGames('SLOT', 'JILI')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/JILI.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">JILI</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('SLOT', 'JDB')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/JDB.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">JDB</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('SLOT', 'REDTIGER')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/REDTIGER.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">RT</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('SLOT', 'FC')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/FC.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">FC</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('SLOT', 'PRAGMATICPLAY')">
            <a tabindex="-1" vender="PP">
              <img fetchpriority="high" alt="provider-awcmpp" src="/assets/images/games/PRAGMATICPLAY.webp"
                loading="lazy" class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">PP</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('SLOT', 'PLAYTECH')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/PLAYTECH.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">PT</p>
            </a>
          </li>
        </ul>
        <ul *ngIf="tablemenu" class="menu-second-ul ng-tns-c41-5 ng-star-inserted tablemenu" [class.active]="activeMenu === 'table'">
          <li class="ng-star-inserted" (click)="navigateToGames('TABLE', 'JILI')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/JILI.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">JILI</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('TABLE', 'KINGMAKER')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/KINGMAKER.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">KM</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('TABLE', 'FC')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/FC.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">FC</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('TABLE', 'SPRIBE')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/SPRIBE.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">SPRIBE</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('TABLE', 'REDTIGER')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/REDTIGER.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">RT</p>
            </a>
          </li>

        </ul>
        <ul *ngIf="fishingmenu" class="menu-second-ul ng-tns-c41-5 ng-star-inserted fishingmenu" [class.active]="activeMenu === 'fishing'">
          <li class="ng-star-inserted" (click)="navigateToGames('FH', 'JILI')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/JILI.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">JILI</p>
            </a>
          </li>
          <li class="ng-star-inserted" (click)="navigateToGames('FH', 'FC')">
            <a tabindex="-1" vender="PT">
              <img fetchpriority="high" alt="provider-awcmpt" src="/assets/images/games/FC.webp" loading="lazy"
                class="ng-star-inserted">
              <p [style]="{'color':themeData?.sidebarTextColor}">FC</p>
            </a>
          </li>
        </ul>
        <ul class="menu-second-ul ng-tns-c41-5 ng-star-inserted lotterymenu" [class.active]="activeMenu == 'lottery'">
          <li class="ng-tns-c41-5 ng-star-inserted">
            <a (click)="opensabagamesmob('/sabaSports/161/3/gn001')" class="ng-tns-c41-5">
              <img fetchpriority="high" class="ng-tns-c41-5 ng-star-inserted" alt="provider-number"
                src="/assets/images/games/provider-number.png?v=.01" loading="lazy">
              <p class="ng-tns-c41-5" [style]="{'color':themeData?.sidebarTextColor}">Number</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-mask ng-trigger ng-trigger-popBgTriggerAni ng-star-inserted"
      style="display: block;opacity: 1; z-index: 9998;"></div>
  </div>
</main>
<div *ngIf="showErrPopup"class="cdk-overlay-container">
  <div class="cdk-overlay-backdrop dialog-backdrop cdk-overlay-backdrop-showing"></div>
  <div class="cdk-global-overlay-wrapper" dir="ltr" style="justify-content: center; align-items: center;">
    <div id="cdk-overlay-0" class="cdk-overlay-pane dialog-panel" style="position: static;">
      <div class="popup" id="dialog-0">
        <div class="popup__header"></div>
        <div class="popup__content">
          <div
            class="pop-wrap pop-login-fail active ng-trigger ng-trigger-dialogAlertTriggerAni ng-tns-c3883022425-5 ng-star-inserted">
            <div class="login-fail-tip ng-tns-c3883022425-5">
              <div class="login-fail-icon ng-tns-c3883022425-5"
                style="mask-image: url('/assets/images/icon-warning.svg');"></div><span class="ng-tns-c3883022425-5">{{
                errMsg }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

