
.bet-amount {
  border-radius: .25rem;
  flex: 1 1 0%;
  line-height: 1.5;
  margin-bottom: .5rem;
  padding: .5rem;
  text-align: center
}

.bet-amount .title {
  font-size: .7857142857142857rem;
  padding-bottom: .5rem;
  --tw-text-opacity: 1;
  color: rgb(111 136 152/var(--tw-text-opacity))
}

.bet-amount .input-box {
  display: flex;
  height: 2.5rem
}

.icon-minus,
.icon-plus {
  font-size: 1rem;
  line-height: 1.5rem
}

.input-field {
  align-items: center;
  border-radius: .25rem;
  border-style: solid;
  color: var(--color-global-font-on-light);
  display: flex;
  flex: 1 1 0%;
  font-weight: 700;
  justify-content: center;
  margin-left: .25rem;
  margin-right: .25rem;
  overflow: hidden;
  width: 2.5rem
}

.input-field.is-default {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(111 136 152/var(--tw-border-opacity))
}

.input-field.is-focus {
  border-color: var(--color-primaryDark-100);
  border-width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.input-field.is-focus:after {
  display: inline-block
}

@keyframes inputBlink-1c2d4b42 {
  50% {
    opacity: 0
  }
}

.input-field.is-focus:after {
  animation: inputBlink-1c2d4b42 1.2s step-start infinite;
  content: "|";
  font-weight: 400
}

.input-field.is-error {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(246 105 135/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 215 224/var(--tw-bg-opacity))
}

.input-field.is-disabled {
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(212 224 229/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(111 136 152/var(--tw-text-opacity))
}
/* .w-80px{
  width:5.14285714285714rem
} */

.btn-switch__tgl[data-v-9a42e1e7] {
  display: none
}

.btn-switch__tgl[data-v-9a42e1e7],
.btn-switch__tgl *[data-v-9a42e1e7],
.btn-switch__tgl[data-v-9a42e1e7] :after,
.btn-switch__tgl[data-v-9a42e1e7] :before,
.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7],
.btn-switch__tgl[data-v-9a42e1e7]:after,
.btn-switch__tgl[data-v-9a42e1e7]:before {
  box-sizing: border-box
}

.btn-switch__tgl[data-v-9a42e1e7] ::-moz-selection,
.btn-switch__tgl[data-v-9a42e1e7] :after::-moz-selection,
.btn-switch__tgl[data-v-9a42e1e7] :before::-moz-selection,
.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7]::-moz-selection,
.btn-switch__tgl[data-v-9a42e1e7]::-moz-selection,
.btn-switch__tgl[data-v-9a42e1e7]:after::-moz-selection,
.btn-switch__tgl[data-v-9a42e1e7]:before::-moz-selection {
  background: none
}

.btn-switch__tgl[data-v-9a42e1e7] ::selection,
.btn-switch__tgl[data-v-9a42e1e7] :after::selection,
.btn-switch__tgl[data-v-9a42e1e7] :before::selection,
.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7]::selection,
.btn-switch__tgl[data-v-9a42e1e7]::selection,
.btn-switch__tgl[data-v-9a42e1e7]:after::selection,
.btn-switch__tgl[data-v-9a42e1e7]:before::selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7] {
  cursor: pointer;
  display: block;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7]:after,
.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7]:before {
  content: "";
  display: block;
  height: 100%;
  position: relative;
  width: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7]:after {
  left: 0
}

.btn-switch__tgl+.btn-switch__tgl-label[data-v-9a42e1e7]:before {
  display: none
}

.btn-switch__tgl:checked+.btn-switch__tgl-label[data-v-9a42e1e7]:after {
  left: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7] {
  box-sizing: border-box
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]::-moz-selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]::selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7] {
  cursor: pointer;
  display: block;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:after,
.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:before {
  content: "";
  display: block;
  height: 100%;
  position: relative;
  width: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:after {
  left: 0
}

.btn-switch__tgl+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:before {
  display: none
}

.btn-switch__tgl:checked+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:after {
  left: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7] {
  box-sizing: border-box
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7]::-moz-selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7]::selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7] {
  cursor: not-allowed;
  display: block;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7]:after,
.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7]:before {
  content: "";
  display: block;
  height: 100%;
  position: relative;
  width: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7]:after {
  left: 0
}

.btn-switch__tgl+.btn-switch__tgl-label-none[data-v-9a42e1e7]:before {
  display: none
}

.btn-switch__tgl:checked+.btn-switch__tgl-label-none[data-v-9a42e1e7]:after {
  left: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7] {
  box-sizing: border-box
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]::-moz-selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]::selection {
  background: none
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7] {
  cursor: pointer;
  display: block;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:after,
.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:before {
  content: "";
  display: block;
  height: 100%;
  position: relative;
  width: 50%
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:after {
  left: 0
}

.btn-switch__tgl+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:before {
  display: none
}

.btn-switch__tgl:checked+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:after {
  left: 50%
}

.btn-switch__tgl-ios+.btn-switch__tgl-label[data-v-9a42e1e7] {
  background: #a2c1d0;
  box-shadow: inset 0 3px #00000026;
  transition: all .4s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label[data-v-9a42e1e7]:after {
  background: #fbfbfb;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #0000001a, 0 4px #00000014;
  transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .1s ease, margin .3s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label[data-v-9a42e1e7]:hover:after {
  will-change: padding
}

.btn-switch__tgl-ios+.btn-switch__tgl-label[data-v-9a42e1e7]:active {
  box-shadow: inset 0 0 0 2em #e8eae9
}

.btn-switch__tgl-ios+.btn-switch__tgl-label[data-v-9a42e1e7]:active:after {
  left: 0;
  padding-left: .8571428571428571rem;
  padding-right: .8571428571428571rem
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label[data-v-9a42e1e7] {
  background-color: var(--color-button-normal)
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label[data-v-9a42e1e7]:active {
  box-shadow: none
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label[data-v-9a42e1e7]:active:after {
  margin-left: 0
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7] {
  background: #6f8898;
  transition: all .4s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:after {
  background: #fff;
  border-radius: 1rem;
  transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .1s ease, margin .3s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:hover:after {
  will-change: padding
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:active {
  box-shadow: inset 0 0 0 2em #e8eae9
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:active:after {
  left: 0;
  padding-left: .8571428571428571rem;
  padding-right: .8571428571428571rem
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7] {
  background-color: var(--color-button-normal)
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:active {
  box-shadow: none
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-shadow-none[data-v-9a42e1e7]:active:after {
  margin-left: 0
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7] {
  background: #d4e0e5;
  box-shadow: inset 0 3px #00000026;
  transition: all .4s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:after {
  background: #fbfbfb;
  border-radius: 1rem;
  box-shadow: 0 3px #00000026;
  transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .1s ease, margin .3s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:hover:after {
  will-change: padding
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:active:after {
  left: 0
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7] {
  background-color: var(--color-button-normal)
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:active {
  box-shadow: none
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-unmatchedMode[data-v-9a42e1e7]:active:after {
  margin-left: 0
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-none[data-v-9a42e1e7] {
  background: #d4e0e5;
  opacity: .85;
  transition: all .4s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-none[data-v-9a42e1e7]:after {
  background: #fff;
  border-radius: 1rem;
  opacity: .85;
  transition: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .1s ease, margin .3s ease
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-none[data-v-9a42e1e7]:hover:after {
  will-change: padding
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-none[data-v-9a42e1e7]:active {
  box-shadow: inset 0 0 0 2em #e8eae9
}

.btn-switch__tgl-ios+.btn-switch__tgl-label-none[data-v-9a42e1e7]:active:after {
  left: 0
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-none[data-v-9a42e1e7] {
  background-color: var(--color-button-normal)
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-none[data-v-9a42e1e7]:active {
  box-shadow: none
}

.btn-switch__tgl-ios:checked+.btn-switch__tgl-label-none[data-v-9a42e1e7]:active:after {
  margin-left: 0
}
/* .w-80px{
  width: 3.142857rem;
} */

.info{
  justify-content: end;
}



.calc-btn[data-v-05b4889a] {
    border-radius: .25rem;
    border-width: 1px;
    height: 3.5rem;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(238 246 251 / var(--tw-bg-opacity));
}

.sum.is-focus[data-v-05b4889a]:after{
    animation: inputBlink-05b4889a 1.2s step-start infinite;
    content: "|";
    font-weight: 400;
}

.sum.is-focus[data-v-05b4889a]:after {
    display: inline-block;
}

.sum.is-focus[data-v-05b4889a] {
    border-color: var(--color-primaryDark-100);
    border-width: 2px;
}

.text-global-font-on-light {
    color: var(--color-global-font-on-light);
}
@keyframes inputBlink-05b4889a {
  50% {
    opacity: 0;
}
}

.disable{
  pointer-events: none;
}