<!-- <main class="min-h-full-with-header"> -->
  <div data-v-f43ca18c="" class="pb-20 relative" [class.classic]="isClassicTheme" [style.minHeight]="'calc(100vh - 4.28571rem)'">
    <div>
      <header class="h-12 p-3 bg-secondary text-global-font-on-dark text-14 flex items-center justify-center">My Profile
        <div class="icon-close text-16 absolute right-4" routerLink="/home"></div>
      </header>
      <div class="p-4">
        <!-- <div class="p-2 relative flex justify-start bg-white border-b border-black-300 rounded-t-lg">
          <span class="w-4/12 text-12 text-global-font-on-light">First Name</span>
          <span class="w-auto text-12 text-black-600">{{userData?.username}}</span>
          <div class="px-2 py-1 w-auto absolute right-3 top-1 flex justify-center items-center text-button-normal bg-button-normal rounded-3px" routerLink="/edit/ /{{userData?.lastName}}/{{userData?.email}}" [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor" bis_skin_checked="1">
            <i [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="mr-1 text-11 icon-edit"></i><span [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="text-11">Edit</span></div>
        </div> -->
        <!-- <div class="p-2 relative flex justify-start bg-white border-b border-black-300">
          <span class="w-4/12 text-12 text-global-font-on-light">Last Name</span>
          <span class="w-auto text-12 text-black-600">{{userData?.lastName || '--'}}</span>
          <div class="px-2 py-1 w-auto absolute right-3 top-1 flex justify-center items-center text-button-normal bg-button-normal rounded-3px" routerLink="/edit/{{userData?.username}}/ /{{userData?.email}}" [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor" bis_skin_checked="1">
            <i [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="mr-1 text-11 icon-edit"></i><span [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="text-11">Edit</span></div>
        </div> -->
        <div class="profile-field p-2 flex justify-start bg-white border-b border-black-300">
          <span class="w-4/12 text-12" [class.text-global-font-on-light]="!isClassicTheme">WhatsApp Number</span>
          <span class="w-auto text-12 text-black-600">{{userData?.whatsAppNumber}}</span>
        </div>
        <!-- <div class="p-2 relative flex justify-start bg-white border-b border-black-300">
          <span class="w-4/12 text-12 text-global-font-on-light">Email</span>
          <span class="w-auto text-12 text-black-600">{{userData?.email || '--'}}</span>
          <div class="px-2 py-1 w-auto absolute right-3 top-1 flex justify-center items-center text-button-normal bg-button-normal rounded-3px" routerLink="/edit/{{userData?.username}}/{{userData?.lastName}}/ " [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor" bis_skin_checked="1">
            <i [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="mr-1 text-11 icon-edit"></i><span [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="text-11">Edit</span></div>
        </div> -->
        <div class="profile-field p-2 relative flex justify-start items-center bg-white" [class.rounded-b-lg]="!isClassicTheme"><span
            class="w-4/12 text-12" [class.text-global-font-on-light]="!isClassicTheme">Password</span>
            <span class="w-8/12 text-12 text-black-600">*******</span>
          <div [style.backgroundImage]="jsonWebdt?.imagesBottomBorderColor"
            class="px-2 py-1 w-auto absolute right-3 top-1 flex justify-center items-center text-button-normal bg-button-normal rounded-3px" routerLink="/change-password">
            <i class="mr-1 text-11 icon-edit" [style.color]="jsonWebdt?.imagesPlayNowTextColor"></i><span [style.color]="jsonWebdt?.imagesPlayNowTextColor" class="text-11">Edit</span>
          </div>
        </div>
      </div>
    </div>
  </div>



