.member-error{
  margin: 0px !important;
}
.h-full {
  height: 100%;
}
.newimgwidth{
  width: 100%;
}
/* img[src] {
  visibility: hidden;
} */

/* @media (max-width:400px) {
  .h-40px {
    height: 2.3rem !important;
  }
  .h-10{
    height: 2rem;
  }
  .w-100px {
    width: 5.142857rem;
}
  .custom-btn {
    height: 2.2rem;
    font-weight: 600;
    font-size: 0.8rem;
    width: 10rem;
    padding: 20px ;
  }
.remember{
    width: 0.8rem;
    height: 0.8rem;
    font-size: 13px;
}
.inputs{
  font-size: 14px;
}

  .text-18 {
    font-size: 1.1rem;
  }


  .font-normal {
    font-weight: 500;
  }

  .text-25 {
    font-size: 1.4rem;
  }

  .effect-20~label.with-icon {
    left: 2.25rem;
    line-height: 13px;
  }
  .py-6{
    padding-bottom: 1rem;

  }
} */

.bg-checkbox-checked{
    background-color: #ffc800 !important;
}
.text-checkbox-icon {
    color: #000000;
}
.bg-checkbox-background{
    background-color: #fff4c1;
}

input.has-error {
 border-color: #e20000;
    border-width: 1px;
}

[class*=" icon-"]{
  z-index: 1000;
}