<section class="" *ngIf="!classicTheme">
  <main class="container mx-auto h-screen relative bg-black-100">
    <div class="login-wrapper bg-cover bg-center h-full w-full"
      [ngStyle]="{ 'background-image': 'url(' + backgroundImg + ')' }">
      <!-- style="background-image : url('../../../assets/images/baaji365-bg-login.webp')"> -->
      <div (click)="goBack()"
        class="back absolute w-30px h-30px top-2 left-2 text-16 flex items-center justify-center rounded-full bg-white icon-arrow-left">
      </div>
      <form class="info-modal" [formGroup]="loggedData" (ngSubmit)="login()">
        <div class="modal fixed z-10 container bottom-0">
          <!-- <img width="192" height="60" alt="logo" [src]="webdata?.imageData?.headers?.[0]?.logo?.replace(' ', '%20')" -->
          <img width="192" height="60" alt="logo" src="../../../assets/images/newgreenbnsmllvelk.webp?v=1.5"
            [src]="innrrImg" class="logo h-90px w-auto mx-auto mb-0 newimgwidth" (click)="openWhtlink()">
          <div class="bg-white rounded-t-xl py-6">
            <div class="content w-full flex flex-col items-center">
              <h2 class="text-25 mb-3 font-normal">LOGIN</h2>
              <div class="inner-width w-5/6 space-y-6">
                <div data-v-64dd3bfe="" data-v-36418924="" class="relative my-3">
                  <input data-v-64dd3bfe="" id="username"
                    [ngClass]="{'has-content':userId?.value, 'has-error': submitted && loggedData.controls['userId'].invalid}"
                    name="username" autocomplete="off" type="text" step="false" formControlName="userId" maxlength="25"
                    appNoEmoji appNoSpace appNoSpecialChar
                    class="effect-20 relative w-full h-40px rounded-lg bg-opacity-0 px-2 z-10 disabled:bg-black-300 disabled:cursor-not-allowed disabled:border-0 with-icon inputs"><label
                    data-v-64dd3bfe="" for="username" class="cursor-text outline-none with-icon">Username</label>
                  <div data-v-64dd3bfe="" class="absolute top-0 flex items-center h-40px ml-2 space-x-3px start-icon">
                    <span data-v-64dd3bfe="" class="icon-content text-18 text-black-400 top-3 left-3 z-10 icon-user"
                      [style]="{'color' :jsonWebdt?.imagesBottomBorderColor}">
                      <i data-v-64dd3bfe="" class="icon-flag-bangladesh path1 z-10 text-18"></i>
                      <i data-v-64dd3bfe="" class="icon-flag-bangladesh path2 z-10 text-18"></i>
                    </span>
                    <span data-v-64dd3bfe=""
                      class="prefix-text leading-8 border-r border-black-300 pr-2 text-11 top-2 left-3 z-10"></span>
                  </div>
                  <span data-v-64dd3bfe="" class="focus-border">
                    <i data-v-64dd3bfe=""></i>
                  </span>

                </div>

                <!-- <div class="member-error ng-star-inserted m-0"
                  *ngIf="userId?.invalid && (userId?.touched || userId?.dirty)">
                  <span *ngIf="loggedData.get('userId')?.errors?.['required']"
                    class="text-danger error-message-place text-red-700">Username
                    is required
                  </span>
                </div> -->

                <div class="relative my-3"><input
                    [ngClass]="{'has-content':pass?.value , 'has-error': submitted && loggedData.controls['pass'].invalid}"
                    data-v-64dd3bfe="" id="password" name="password" autocomplete="off" type="password" step="false"
                    [type]="showpwrd ? 'text':'password'" formControlName="pass" maxlength="30" appNoEmoji appNoSpace
                    class="effect-20 relative w-full h-40px rounded-lg bg-opacity-0 px-2 z-10 disabled:bg-black-300 disabled:cursor-not-allowed disabled:border-0 with-icon inputs"><label
                    data-v-64dd3bfe="" for="password" class="cursor-text outline-none with-icon">Password</label>
                  <div data-v-64dd3bfe="" class="absolute top-0 flex items-center h-40px ml-2 space-x-3px start-icon">
                    <span data-v-64dd3bfe="" class="icon-content text-18 text-black-400 top-3 left-3 z-10 icon-lock"><i
                        data-v-64dd3bfe="" class="icon-flag-bangladesh path1 z-10 text-18"></i><i data-v-64dd3bfe=""
                        class="icon-flag-bangladesh path2 z-10 text-18"></i></span><span data-v-64dd3bfe=""
                      class="prefix-text leading-8 border-r border-black-300 pr-2 text-11 top-2 left-3 z-10"></span>
                  </div>
                  <span data-v-64dd3bfe="" (click)="showpwd()" class="end-icon absolute top-3 right-3 z-10 text-18 "
                    [ngClass]="showpwrd?'icon-visibility-on':'icon-visibility-off'">
                  </span><span data-v-64dd3bfe="" class="focus-border"><i data-v-64dd3bfe=""></i></span>
                </div>
                <!-- <div class="member-error ng-star-inserted m-0" style="margin-top: 5px !important; " *ngIf="pass?.invalid && (pass?.touched || pass?.dirty)">
                  <span *ngIf="loggedData.get('pass')?.errors?.['required']"
                    class="text-danger error-message-place text-red-700">Password
                    is required
                  </span>
                </div> -->

                <div *ngIf="validShowing=='true'" data-v-36418924="" class="relative my-3">
                  <span
                    class="validation-img absolute flex justify-center items-center right-1 top-1 h-10 z-40 w-100px text-4xl"
                    style="font-weight: 700;">{{validationCode}}</span>
                  <div data-v-64dd3bfe="" data-v-36418924="" class="relative my-3" pattern="\d*">
                    <input data-v-64dd3bfe="" id="verifyCode" formControlName="validCode" name="verifyCode" appNoEmoji
                      appOnlyNumber [ngClass]="{ 'has-error': submitted && loggedData.controls['pass'].invalid}"
                      autocomplete="off" type="text" step="1" maxlength="4" (paste)="numberOnly($event)"
                      (focus)="numberOnly($event)" (keypress)="numberOnly($event)" (input)="numberOnly($event)"
                      class="effect-20 relative w-full h-40px rounded-lg bg-opacity-0 px-2 z-10 disabled:bg-black-300 disabled:cursor-not-allowed disabled:border-0 with-icon inputs"
                      [ngClass]="{'has-content':validCode?.value}">
                    <label data-v-64dd3bfe="" for="verifyCode" class="cursor-text outline-none with-icon">Validation
                      Code</label>
                    <div data-v-64dd3bfe="" class="absolute top-0 flex items-center h-40px ml-2 space-x-3px start-icon">
                      <span data-v-64dd3bfe=""
                        class="icon-content text-18 text-black-400 top-3 left-3 z-10 icon-shield"><i data-v-64dd3bfe=""
                          class="icon-flag-bangladesh path1 z-10 text-18"></i><i data-v-64dd3bfe=""
                          class="icon-flag-bangladesh path2 z-10 text-18"></i></span><span data-v-64dd3bfe=""
                        class="prefix-text leading-8 border-r border-black-300 pr-2 text-11 top-2 left-3 z-10"></span>
                    </div><span data-v-64dd3bfe="" class="focus-border"><i data-v-64dd3bfe=""></i></span>
                  </div>
                </div>
                <!-- <div class="member-error ng-star-inserted m-0"
                  *ngIf="validCode?.invalid && (validCode?.touched || validCode?.dirty)">
                  <span *ngIf="loggedData.get('validCode')?.errors?.['required']"
                    class="text-danger error-message-place text-red-700">Validation Code
                    is required
                  </span>
                </div> -->
                <div data-v-b0cd02b4="" data-v-36418924="" class="mt-3 mb-6">
                  <input data-v-b0cd02b4="" id="remember" name="remember" type="checkbox" class="hidden">
                  <label data-v-b0cd02b4="" for="remember" class="flex justify-start items-center select-none"><span
                      data-v-b0cd02b4=""
                      class="flex justify-center items-center border border-solid border-checkbox-boder mr-1.5 w-4 h-4 rounded bg-checkbox-background remember"
                      [ngClass]="rememberme ? 'bg-checkbox-checked' : ''" (click)="rememberMe()"><span
                        data-v-b0cd02b4="" class="icon-check text-checkbox-icon text-8 font-bold"
                        [style]="rememberme  ? 'display: block;' : 'display: none;'"></span></span>
                    <div data-v-b0cd02b4="" (click)="rememberMe()">Remember me </div>
                  </label>
                </div>
                <div data-v-36418924="" class="text-error mb-6 text-12">{{errMsg}}</div>

                <div class="text-error mb-6 text-12"></div><button
                  class="btn-normal p-3 rounded flex justify-center items-center disabled:bg-black-300 disabled:text-black-600 disabled:cursor-not-allowed btn-login w-48 h-40px mx-auto text-base font-extrabold custom-btn"
                  type="submit">Login</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</section>

<!-- halfbaji -->
<header *ngIf="classicTheme" id="signupheader" class="ng-star-inserted member"
  style="background: rgb(13, 13, 13);">
  <div (click)="goBack()" class="header-left-btn-group" tabindex="0" bis_skin_checked="1">
    <div  mcdprevious="" class="back-btn" bis_skin_checked="1"
      style="background: rgb(255, 255, 255);"></div>
    <div  class="menu-btn" bis_skin_checked="1">
      <ul >
        <li ></li>
        <li ></li>
        <li ></li>
      </ul>
    </div>
  </div>
  <div  class="header-title" bis_skin_checked="1" style="color: rgb(255, 255, 255);">Login
  </div>
</header>
<div *ngIf="classicTheme" class="wrap ng-tns-c57-1" style="background: rgb(32, 32, 32);" bis_skin_checked="1">
  <div class="content ng-tns-c57-1 login-biometric-content mobile-content" style="min-height: 100vh;"
    bis_skin_checked="1">
    <div class="ng-tns-c57-1 ng-trigger ng-trigger-routeLayoutPageAni" bis_skin_checked="1">
      <div class="ng-star-inserted" bis_skin_checked="1">
        <div class="logo-box ng-star-inserted headLogo" style="background-image: url({{img}});" bis_skin_checked="1">
        </div>
        <form novalidate="" [formGroup]="loggedData" (ngSubmit)="login()"
          class="ng-untouched ng-pristine ng-invalid ng-star-inserted">
          <div class="member-box radius" style="background: rgb(41, 41, 41);" bis_skin_checked="1">
            <div class="inputbox" bis_skin_checked="1"><label for="userId"
                style="display: block; color: rgb(250, 250, 250);">User Id</label><input type="text"
                formControlName="userId" maxlength="25" appNoEmoji appNoSpace appNoSpecialChar
                class="input ng-untouched ng-pristine ng-invalid" placeholder="User Id" name="uxjfkjbey" id="uxjfkjbey"
                style="--mainThemeColor: #fafafa; --resetpasstextColor: #fafafa;" fdprocessedid="ciptww"><input
                type="button" class="clear"></div>
            <div class="inputbox password" bis_skin_checked="1">
              <div class="eyes" [style]="{'background':' rgb(250, 250, 250);'}" [ngClass]="{'active': showpwrd}"
                (click)="showpwd()"></div><label for="password"
                style="display: block; color: rgb(250, 250, 250);">Password</label><input
                [type]="showpwrd ? 'text':'password'" formControlName="pass" maxlength="30" appNoEmoji appNoSpace
                class="input ng-untouched ng-pristine ng-invalid" placeholder="Password" id="pxjfkjbey" name="pxjfkjbey"
                style="--mainThemeColor: #fafafa; --resetpasstextColor: #fafafa;" fdprocessedid="oj68h9"><input
                type="button" class="clear">
            </div>
            <div class="inputbox password" bis_skin_checked="1" *ngIf="validShowing=='true'" >
              <div class="validCode" [style]="{'background':' rgb(250, 250, 250);'}"> {{validationCode}}</div><label for="password"
                style="display: block; color: rgb(250, 250, 250);">Validation Code</label><input formControlName="validCode" name="verifyCode" 
                type="text" maxlength="4" (paste)="numberOnly($event)" (focus)="numberOnly($event)" 
                (keypress)="numberOnly($event)" (input)="numberOnly($event)" appNoEmoji apOnlyNumber
                class="input ng-untouched ng-pristine ng-invalid" placeholder="Password" id="pxjfkjbey" name="pxjfkjbey"
                style="--mainThemeColor: #fafafa; --resetpasstextColor: #fafafa;" fdprocessedid="oj68h9"><input
                type="button" class="clear">
            </div>
          </div>
          <div class="login-info-box" bis_skin_checked="1">
            <div class="forgetpassword-buttn" bis_skin_checked="1"><a class="figetpassborder"
                style="color: rgb(13, 13, 13);">Forgot password?</a></div>
          </div>
          <div bis_skin_checked="1"><button id="loginBtn" type="submit" class="button" fdprocessedid="qafuah"
              style="background: linear-gradient(rgb(164, 42, 47) 0%, rgb(123, 16, 21) 100%); color: rgb(255, 255, 255);">
              Login</button></div>
          <div bis_skin_checked="1"><button id="demoLoginBtn" type="button" class="button" fdprocessedid="gk4mze"
              style="background: linear-gradient(rgb(164, 42, 47) 0%, rgb(123, 16, 21) 100%); color: rgb(255, 255, 255);">
              Demo Login</button></div>
          <p class="signup" style="color: rgb(38, 38, 38);"><span style="color: rgb(255, 255, 255);">Do not have an
              account? </span><a style="color: rgb(13, 13, 13);">Sign
              up</a></p>
        </form>
      </div>
    </div>
  </div>

  <div class="ng-tns-c57-1 ng-trigger ng-trigger-footerFadeInAni ng-star-inserted" bis_skin_checked="1"></div>
</div>