<header id="header" class="ng-star-inserted player" style="background: rgb(13, 13, 13);">
  <div routerLink="/account" class="header-left-btn-group" tabindex="0">
    <div class="back-btn" style="background: rgb(255, 255, 255);">
    </div>
    <div class="menu-btn">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="header-title" style="color: rgb(255, 255, 255);">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Reset password</font>
    </font>
  </div>
</header>
<div class="wrap ng-tns-c58-2" style="background: rgb(32, 32, 32);">
  <div class="content ng-tns-c58-2 member-content mobile-content" style="min-height: auto;">
    <div class="ng-tns-c58-2 ng-trigger ng-trigger-routeLayoutPageAni">
      <form novalidate="novalidate" [formGroup]="changePass" (ngSubmit)="changePassword()"
        class="ng-untouched ng-pristine ng-invalid ng-star-inserted">
        <div class="member-box radius">
          <div class="inputbox password ng-star-inserted">
            <div id="eye1 " class="eyes" style="background: rgb(250, 250, 250);" [ngClass]="{'active': showOld}"
              (click)="showOldpwd()"></div>
            <label style="display: block; color: rgb(250, 250, 250);">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Current password</font>
              </font>
            </label>
            <input id="myPass" formControlName="tran_code" [type]="!showOld ? 'password' : 'text'" appNoEmoji appNoSpace
              class="input ng-untouched ng-pristine ng-invalid pwd" placeholder="Current password"
              style="background: rgb(41, 41, 41); color: rgb(250, 250, 250);"><input class="clear">
          </div>
          <div class="inputbox password">
            <div class="eyes" style="background: rgb(250, 250, 250);" [ngClass]="{'active': showpwrd}"
              (click)="showpwd()">
            </div><label style="display: block; color: rgb(250, 250, 250);">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">New password</font>
              </font>
            </label>
            <input id="newpass" formControlName="newPassword" appNoEmoji appNoSpace [type]="!showpwrd ? 'password' : 'text'" name="newPassword"
             class="input ng-untouched ng-pristine ng-invalid pwd" placeholder="New password"
              style="background: rgb(41, 41, 41); color: rgb(250, 250, 250);"><input class="clear">
          </div>
          <div class="inputbox password">
            <div id="eye3" class="eyes" style="background: rgb(250, 250, 250);" [ngClass]="{'active': showConfirm}"
              (click)="showConfirmpwd()"></div>
            <label style="display: block; color: rgb(250, 250, 250);">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Confirm new password</font>
              </font>
            </label>
            <input id="cnfrm_newpass" appNoEmoji appNoSpace name="confirmNewPassword" [type]="!showConfirm ? 'password' : 'text'"
              formControlName="confirmnewPassword" class="input ng-untouched ng-pristine ng-invalid pwd"
              placeholder="Confirm new password" style="background: rgb(41, 41, 41); color: rgb(250, 250, 250);"><input
              class="clear">
          </div>
        </div>
        <div id="messageErrorClass" class="ng-star-inserted" [class]="showMsg ? 'success-text' : 'error-text'"><span id="resetPwdMessage">{{errMsg}}</span>
        </div>
        <div class="tips-info reset" style="background: rgb(41, 41, 41); color: rgb(250, 250, 250);">
          <div class="title-box reset">
            <h5 style="color: rgb(250, 250, 250);" class="reset"><span class="reset">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Password requirements</font>
                </font>
              </span></h5>
          </div>
          <ol style="color: rgb(250, 250, 250);" class="reset">
            <li class="reset">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Must be 8-20 characters in length
                </font>
              </font>
            </li>
            <li class="reset">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">must contain 1 uppercase
                  alphabet(AZ) at least</font>
              </font>
            </li>
            <li class="reset">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">must contain 1 lowercase
                  alphabet(az) at least</font>
              </font>
            </li>
            <li class="reset">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">must contain 1 number(0-9) at least
                </font>
              </font>
            </li>
            <li class="reset">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">must contain 1 special character
                </font>
              </font>
            </li>
          </ol>
        </div>
        <div type="submit" class="button"><button type="submit" class="confirm-button" 
            style="background: linear-gradient(rgb(164, 42, 47) 0%, rgb(123, 16, 21) 100%); color: rgb(255, 255, 255);">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  <!-- <app-footer>
  </app-footer> -->
  <div class="pop-bg ng-tns-c43-6 ng-trigger ng-trigger-popBgTriggerAni ng-star-inserted" style="display: none;"></div>
  <div class="ng-tns-c58-2 ng-trigger ng-trigger-footerFadeInAni ng-star-inserted"></div>
</div>
