.confirm-button {
  background-color: transparent;
  border: none;
  padding: 1px;
  position: relative;
  border-radius: .8vw;
  color: var(--buttontextcolor);
  text-align: center;
  width: 94.6666666667vw;
  height: 12vw;
  font-size: 4vw;
  line-height: 12vw;

}

.button {
  background: unset;
}

.message-wrap {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.message {
  padding: 20px;
  border-radius: 10px;
  color: white;
  transition: background-color 0.3s ease;
  position: relative;
}

.error {
  background-color: #f44336;
}

.success {
  background-color: #4caf50;
}

.error-text {
  color: #f44336;
  padding: 2vw 2.6666666667vw;
  background: transparent;
  font-size: 3.2vw;
  text-align: left
}

.success-text {
  color: #4caf50;
  padding: 2vw 2.6666666667vw;
  background: transparent;
  font-size: 3.2vw;
  text-align: left;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width:768px) {

  header.player,
  header.register {
    display: block;
  }

  header {
    max-width: 480px;
    height: 64px;
  }

  .back-btn,
  .editor-btn {
    width: 64px;
    height: 64px;
  }

  header .header-title {
    font-size: 20.48px;
  }

  .content {
    padding: 64px 0 0;
  }

  .radius {
    margin: 12.8px;
  }

  .eyes {
    width: 51.2px;
    height: 51.2px;
  }

  .inputbox label {
    left: 25.6px;
    font-size: 16.64px;
  }

  .inputbox input {
    height: 64px;
    font-size: 16.64px;
    padding: 0 51.2px 0 140.8px;
  }

  .radius div:first-of-type input.input,
  .radius div:first-of-type select {
    border-top-left-radius: 3.84px;
    border-top-right-radius: 3.84px;
  }

  .inputbox .clear {
    height: 19.2px;
    border-radius: 25.6px;
  }

  .inputbox input.clear {
    width: 19.2px !important;
  }

  .inputbox.password .clear {
    right: 64px;
    padding: 0;
  }

  .member-error {
    padding: 9.6px 12.8px;
    font-size: 15.36px;
  }

  .member-error:before {
    width: 20.48px;
    height: 20.48px;
    margin-right: 6.4px;
    border-radius: 25.6px;
    font-size: 15.36px;
    line-height: 20.48px;
  }

  .tips-info {
    margin: 19.2px;
    padding: 12.8px;
    border-radius: 6.4px;
  }

  .tips-info .title-box {
    padding-bottom: 12.8px;
  }

  .tips-info h5:before {
    width: 19.2px;
    height: 19.2px;
    margin-right: 6.4px;
  }

  .tips-info ul,
  .tips-info ol {
    padding-left: 19.2px;
    font-size: 15.36px;
  }

  .button {
    border-radius: 3.84px;
  }

  .member-content .button {
    margin: 12.8px auto;
  }

  .member-content .button,
  .login-biometric-content .button {
    width: 94%;
    height: 57.6px;
    font-size: 19.2px;
    line-height: 57.6px;
  }

  .confirm-button {
    border-radius: 3.84px;
    width: 100%;
    height: 57.6px;
    font-size: 19.2px;
    line-height: 57.6px;
  }

  .pop-wrap {
    transform: translate(-50%, -55%);
  }

  .error-text {
    color: #f44336;
    padding: 9.6px 12.8px;
    font-size: 15.36px;
  }

  .success-text {
    color: #4caf50;
    padding: 9.6px 12.8px;
    font-size: 15.36px;
  }
}

.btn-disable {
  pointer-events: none;
}