/* @import url(../exStyles.css); */

.tnamecolor {
  font-weight: 600;
}

.namecolor {
  font-weight: bold;
  margin-bottom: 1px !important;
}

.oddcolor {
  font-size: 3.4vw !important;
  font-weight: bold;
}

.bookgreencolor {
  color: #4aff4a;
}

.bookredcolor {
  color: #ff6767;
}

/* .zoomed_mode{
position: relative;
top: 0px;
left: 0px;
margin: auto;
max-height: 100%;
width: 100%;
} */
video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-picture-in-picture-button {
  display: none;
}

/* video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-play-button, video::-webkit-media-controls-big-play-button{
display: none;stream_url2
} */

audio::-webkit-media-controls-mute-button,
video::-webkit-media-controls-mute-button {
  -webkit-appearance: media-mute-button;
  display: flex;
  width: 16px;
  height: 16px;
  background-color: none;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-panel {

  background-image: linear-gradient(transparent, transparent) !important;

}

video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

.hide {
  display: none;
}

.bgimage {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.bgimage img {
  width: 100%;
  height: 100%;
}


.disabled {
  pointer-events: none;
}

.d-none {
  display: none;
}

.displaydata {
  display: grid;
}

.openar {
  transform: rotate(-180deg)
}

.closear {
  transform: rotate(0deg)
}

.zoomed_mode {
  position: relative;
  top: 0px;
  left: 0px;
  margin: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.zoomed_mode.stuck {
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  color: #313131;
  float: left;
  cursor: vertical-text;
  letter-spacing: 5px;
  position: fixed;
  z-index: 10;
  text-transform: capitalize;
  width: 150px;
  height: 100px;
  top: 50%;
  left: 0;
  animation: fade-in-up 0.25s ease forwards;
  z-index: 9999;
  touch-action: none;
  transform-origin: center;
  transform: translate(-0%, -0%);
}

#videoWrap {
  z-index: 99;
}

header .logo {
  width: 26.6666666667vw;
  left: 30%;
}

@media(min-width:768px) {
  .mobframe {
    width: 100%;
    border: none;
    display: block;
  }

  .zoomed_modetv {
    width: 100%;
    border: none;
    height: 264px;
  }

  .tv {
    height: 218px;
  }

  .content {
    padding-top: 64.0997px;
  }

  .s-app .s-h-34px {
    height: 43.5878px;
  }

  .s-app .s-w-44px {
    width: 56.4077px;
  }

  .s-app .s-text-14px {
    font-size: 17.9479px;
  }

  .s-app .s-w-14px {
    width: 17.9479px;
  }

  .s-app .s-h-14px {
    height: 17.9479px;
  }

  .s-app .first\:s--mr-2\.5px:first-child {
    margin-right: -3.20498px;
  }

  .s-app .s-text-17px {
    font-size: 21.7939px;
  }

  .s-app .s-mr-4px {
    margin-right: 5.12797px;
  }

  .s-app .s-leading-27px {
    line-height: 34.6138px;
  }

  .s-app .last\:s--ml-2\.5px:last-child {
    margin-left: -3.20498px;
  }

  .s-app .s-rounded-tr-md {
    border-top-right-radius: 6.73047px;
  }

  .s-app .s-rounded-tl-md {
    border-top-left-radius: 6.73047px;
  }

  .s-app .s-w-90px {
    width: 115.379px;
  }

  .s-app .s-h-27px {
    height: 34.6138px;
  }

  .s-app .s-h-4px {
    height: 5.12797px;
  }

  .s-app .s-pb-80px {
    padding-bottom: 102.559px;
  }

  .s-app .s-px-2 {
    padding-left: 8.97396px;
    padding-right: 8.97396px;
  }

  .s-app .s--mx-2 {
    margin-left: -8.97396px;
    margin-right: -8.97396px;
  }

  .s-app .s-h-40px {
    height: 51.2797px;
  }

  .s-app .s-text-base {
    font-size: 17.9479px;
  }

  .s-app .s-text-11px {
    font-size: 14.1019px;
  }

  .s-app .s-mr-1 {
    margin-right: 4.48698px;
  }

  .s-app .s-text-10px {
    font-size: 12.8199px;
  }

  .s-app .s-p-1\.5 {
    padding: 6.73047px;
  }

  .s-app .s-rounded-md {
    border-radius: 6.73047px;
  }

  .s-app .s-ml-1\.5 {
    margin-left: 6.73047px;
  }

  .s-app .s-ml-2 {
    margin-left: 8.97396px;
  }

  .s-app .s--translate-x-1\.5 {
    --tw-translate-x: -6.73047px;
  }

  .s-app .s-mr-15px {
    margin-right: 19.2299px;
  }

  .s-app .s-text-16px {
    font-size: 20.5119px;
  }

  .s-app .s-pl-6px {
    padding-left: 7.69196px;
  }

  .s-app .s-mb-3px {
    margin-bottom: 3.84598px;
  }

  .s-app .s-rounded-1\.5px {
    border-radius: 1.92299px;
  }

  .s-app .s-h-3px {
    height: 3.84598px;
  }

  .s-app .s-bottom-2 {
    bottom: 8.97396px;
  }

  .s-app .-s-left-0\.5 {
    left: -2.24349px;
  }

  .s-app .s-py-1 {
    padding-top: 4.48698px;
    padding-bottom: 4.48698px;
  }

  .s-app .s-px-2 {
    padding-left: 8.97396px;
    padding-right: 8.97396px;
  }

  .s-app .-s-mx-2 {
    margin-left: -8.97396px;
    margin-right: -8.97396px;
  }

  .s-app .s-mb-1 {
    margin-bottom: 4.48698px;
  }

  .s-app .s-gap-0\.5 {
    gap: 2.24349px;
  }

  .s-app .s-w-131px {
    width: 167.941px;
  }

  .s-app .s-text-11px {
    font-size: 14.1019px;
  }

  .s-app .s-leading-5 {
    line-height: 22.4349px;
  }

  .s-app .s-text-14px {
    font-size: 17.9479px;
  }

  .s-app .s-px-2\.5 {
    padding-left: 11.2174px;
    padding-right: 11.2174px;
  }

  .s-app .s-py-1\.5 {
    padding-top: 6.73047px;
    padding-bottom: 6.73047px;
  }

  .s-app .s-min-h-39px {
    min-height: 49.9978px;
  }

  .s-app .s-rounded-3px {
    border-radius: 3.84598px;
  }

  .s-app .s-text-15px {
    font-size: 19.2299px;
  }

  .s-app .s-pb-0\.5 {
    padding-bottom: 2.24349px;
  }

  .s-app .s-text-9px {
    font-size: 11.5379px;
  }

  .s-app .s-space-y-px> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.28199px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.28199px * var(--tw-space-y-reverse));
  }

  .s-app .s-pt-1 {
    padding-top: 4.48698px;
  }

  .s-app .s-min-h-30px {
    min-height: 38.4598px;
  }

  .s-app .s-px-3px {
    padding-left: 3.84598px;
    padding-right: 3.84598px;
  }

  .s-app .s-rounded {
    border-radius: 4.48698px;
  }

  .s-app .s-pr-0\.5 {
    padding-right: 2.24349px;
  }

  .s-app .s-pl-3px {
    padding-left: 3.84598px;
  }

  .s-app .s-px-1 {
    padding-left: 4.48698px;
    padding-right: 4.48698px;
  }

  .s-app .s-mt-0\.5 {
    margin-top: 2.24349px;
  }

  .s-app .s-px-0\.5 {
    padding-left: 2.24349px;
    padding-right: 2.24349px;
  }

  .s-app .s-mt-2 {
    margin-top: 8.97396px;
  }

  .s-app .s-text-sm {
    font-size: 15.7044px;
  }

  .s-app .s-pr-9 {
    padding-right: 40.3828px;
  }

  .s-app .s-pl-1\.5 {
    padding-left: 6.73047px;
  }

  .s-app .s-rounded-t-5px {
    border-top-left-radius: 6.40997px;
    border-top-right-radius: 6.40997px;
  }

  .s-app .s-text-base {
    font-size: 17.9479px;
  }

  .s-app .s-h-25px {
    height: 32.0498px;
  }

  .s-app .s-mr-4px {
    margin-right: 5.12797px;
  }

  .s-app .s-ml-4px {
    margin-left: 5.12797px;
  }

  .s-app .-s-mt-1px {
    margin-top: -1.28199px;
  }

  .s-app .-s-ml-4px {
    margin-left: -5.12797px;
  }

  .s-app .s-ml-2 {
    margin-left: 8.97396px;
  }

  .s-app .s-text-12px {
    font-size: 15.3839px;
  }

  .s-app .s-rounded-b-lg {
    border-bottom-right-radius: 8.97396px;
    border-bottom-left-radius: 8.97396px;
  }

  .s-app .s-p-1 {
    padding: 4.48698px;
  }

  .s-app .s-gap-x-2 {
    column-gap: 8.97396px;
  }

  .s-app .s-h-39px {
    height: 49.9978px;
  }

  .s-app .s-h-33px {
    height: 42.3058px;
  }

  .s-app .s-pt-2 {
    padding-top: 8.97396px;
  }

  .s-app .s-px-12px {
    padding-left: 15.3839px;
    padding-right: 15.3839px;
  }

  .s-app .s-rounded-t-md {
    border-top-left-radius: 6.73047px;
    border-top-right-radius: 6.73047px;
  }

  .s-app .s-py-2 {
    padding-top: 8.97396px;
    padding-bottom: 8.97396px;
  }

  .s-app .s-w-14px {
    width: 17.9479px;
  }

  .s-app .s-h-14px {
    height: 17.9479px;
  }

  .s-app .-s-left-4 {
    left: -17.9479px;
  }

  .s-app .s-w-7px {
    width: 8.97396px;
  }

  .s-app .s-h-7px {
    height: 8.97396px;
  }

  .s-app .s--right-4 {
    right: -17.9479px;
  }

  .s-app .s-pt-px {
    padding-top: 1.28199px;
  }

  .s-app .s-pl-1\.5 {
    padding-left: 6.73047px;
  }

  .s-app .s-mr-2 {
    margin-right: 8.97396px;
  }

  .s-app .s--ml-0\.5 {
    margin-left: -2.24349px;
  }

  .s-app .s-h-30px {
    height: 38.4598px;
  }

  .s-app .s-text-13px {
    font-size: 16.6659px;
  }

  .s-app .s-py-2 {
    padding-top: 8.97396px;
    padding-bottom: 8.97396px;
  }

  .s-app .s-px-4 {
    padding-left: 17.9479px;
    padding-right: 17.9479px;
  }

  .s-app .s-mt-px {
    margin-top: 1.28199px;
  }

  .s-app .s-mx-1 {
    margin-left: 4.48698px;
    margin-right: 4.48698px;
  }

  .s-app .s-rounded-1\.5px {
    border-radius: 1.92299px;
  }

  .s-app .s-h-3px {
    height: 3.84598px;
  }

  .s-app .s-bottom-1 {
    bottom: 4.48698px;
  }

  .s-app .s-text-12px {
    font-size: 15.3839px;
  }

  .s-app .s-w-4 {
    width: 17.9479px;
  }

  .s-app .s-h-4 {
    height: 17.9479px;
  }

  .s-app .s-rounded-b-lg {
    border-bottom-right-radius: 8.97396px;
    border-bottom-left-radius: 8.97396px;
  }

  .s-app .s-pt-1 {
    padding-top: 4.48698px;
  }

  .s-app .s-px-1 {
    padding-left: 4.48698px;
    padding-right: 4.48698px;
  }

  .s-app .s-mb-1 {
    margin-bottom: 4.48698px;
  }

  .s-app .s-gap-0\.5 {
    gap: 2.24349px;
  }

  .s-app .s-w-131px {
    width: 167.941px;
  }

  .s-app .s-text-11px {
    font-size: 14.1019px;
  }

  .s-app .s-text-15px {
    font-size: 19.2299px;
  }

  .s-app .s-ml-7px {
    margin-left: 8.97396px;
  }

  .s-app .s-leading-5 {
    line-height: 22.4349px;
  }

  .s-app .s-text-14px {
    font-size: 17.9479px;
  }

  .s-app .s-px-2 {
    padding-left: 8.97396px;
    padding-right: 8.97396px;
  }

  .s-app .s-pb-5px {
    padding-bottom: 6.4px;
  }

  .s-app .s-rounded-3px {
    border-radius: 3.84598px;
  }

  .s-app .s-min-h-39px {
    min-height: 49.9978px;
  }

  .s-app .s-leading-12px {
    line-height: 15.3839px;
  }

  .s-app .s-mb-2px {
    margin-bottom: 2.56399px;
  }

  .s-app .s-leading-10px {
    line-height: 12.8199px;
  }

  .s-app .s-text-9px {
    font-size: 11.5379px;
  }

  .s-app .s-h-10px {
    height: 12.8199px;
  }

  .s-app .s-pt-2 {
    padding-top: 8.97396px;
  }

  .s-app .s-min-h-30px {
    min-height: 38.4598px;
  }

  .s-app .s-mt-0\.5 {
    margin-top: 2.24349px;
  }

  .s-app .s-px-0\.5 {
    padding-left: 2.24349px;
    padding-right: 2.24349px;
  }

  .scoreheight {
    height: 16vw;
  }

  .scoreheight {
    height: 16vw;
  }

  .s-app .s-w-335px {
    width: 428.8px;
  }

  .s-app .erropop {
    position: fixed;
    left: 36% !important;
    top: 70%;
  }

  .s-app .s-py-4 {
    padding-top: 17.92px;
    padding-bottom: 17.92px;
  }


  /* PFANCY */
  .s-mb-3px {
    margin-bottom: 3.84px;
  }

  .py-2 {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .px-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .rounded-t-lg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .pt-px {
    padding-top: 1.14286px;
  }

  .ml-1 {
    margin-left: 4px;
  }

  .mb-3px {
    margin-bottom: 3.42857px;
  }

  .s-text-14px {
    font-size: 17.92px;
  }

  .s-px-2 {
    padding-left: 8.96px;
    padding-right: 8.96px;
  }

  .s-gap-0\.5 {
    gap: 2.24px;
  }

  .s-py-1\.5 {
    padding-top: 6.72px;
    padding-bottom: 6.72px;
  }

  .s-min-h-53px {
    min-height: 67.84px;
  }

  .oddcolor {
    font-size: 14.4px;
  }

  .s-rounded-b-md {
    border-bottom-right-radius: 6.72px;
    border-bottom-left-radius: 6.72px;
  }

  /* -- */
  .s-app .s-text-15px {
    font-size: 19.2px;
  }

  .s-app .s-px-1 {
    padding-left: 4.48px;
    padding-right: 4.48px;
  }

  .oddcolor {
    font-size: 16.32px !important;
    font-weight: bold;
  }

  .s-app .s-min-h-53px {
    min-height: 67.84px;
  }

  .s-app .s-rounded-b-md {
    border-bottom-right-radius: 6.72px;
    border-bottom-left-radius: 6.72px;
  }

  .s-app .s-rounded-t-4px {
    border-top-left-radius: 5.12px;
    border-top-right-radius: 5.12px;
  }
}
