<section data-v-f43ca18c="" class="" *ngIf="!isFadingOut" @fadeInOut>
  <main class="container mx-auto h-screen relative bg-black-100">
    <div class="login-wrapper bg-cover bg-center h-full w-full"
      [ngStyle]="{ 'background-image': 'url(' + backgroundImg + ')' }">
      <div data-v-023e1804="" routerLink="/menu/profile"
        class="back absolute w-30px h-30px top-2 left-2 text-16 flex items-center justify-center rounded-full bg-white icon-arrow-left">
      </div>
      <form data-v-31cc0ed1="" data-v-023e1804="" [formGroup]="changePass" class="wrapper">
        <div data-v-31cc0ed1="" class="modal fixed container bottom-0">
          <img data-v-31cc0ed1="" width="192" height="60"
            alt="logo" [src]="innrrImg" class="logo h-90px w-auto mx-auto mb-0" >
          <div data-v-31cc0ed1="" class="bg-white rounded-t-xl py-6">
            <div data-v-31cc0ed1="" class="content w-full flex flex-col items-center">
              <h2 data-v-31cc0ed1="" class="text-25 mb-3 font-normal">Change Password</h2>
              <div data-v-31cc0ed1="" class="inner-width w-5/6">

                <div data-v-02245ca6="" class="input-wrapper">
                  <div data-v-64dd3bfe="" data-v-02245ca6="" class="relative my-3" modelmodifiers="[object Object]">
                    <input data-v-64dd3bfe="" id="newPassword" name="newPassword" autocomplete="off" type="password"
                      [ngClass]="{'has-content':newPassword?.value ,'has-error': submitted && changePass.controls['newPassword'].invalid}" step="false" maxlength="20"
                      class="effect-20 relative w-full h-40px rounded-lg bg-opacity-0 px-2 z-10 disabled:bg-black-300 disabled:cursor-not-allowed disabled:border-0"
                      formControlName="newPassword"
                       [type]="showpwrd ? 'text':'password'" appNoEmoji appNoSpace><label data-v-64dd3bfe="" for="newPassword"
                      class="cursor-text outline-none">New Password</label>
                    <div data-v-64dd3bfe="" class="absolute top-0 flex items-center h-40px ml-2 space-x-3px start-icon">
                      <span data-v-64dd3bfe="" class="icon-content text-18 text-black-400 top-3 left-3 z-10"><i
                          data-v-64dd3bfe="" class="icon-flag-bangladesh path1 z-10 text-18"></i><i data-v-64dd3bfe=""
                          class="icon-flag-bangladesh path2 z-10 text-18"></i></span><span data-v-64dd3bfe=""
                        class="prefix-text leading-8 border-r border-black-300 pr-2 text-11 top-2 left-3 z-10"></span>
                    </div><span (click)="showpwd()" data-v-64dd3bfe="" [ngClass]="showpwrd?'icon-visibility-on':'icon-visibility-off'"
                      class="end-icon absolute top-3 right-3 z-10 text-18 icon-visibility-off"></span><span
                      data-v-64dd3bfe="" class="focus-border"><i data-v-64dd3bfe=""></i></span>
                  </div>
                  <!-- <div class="member-error ng-star-inserted m-0"
                    *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
                    <span *ngIf="changePass.get('newPassword')?.errors?.['required']"
                      class="text-danger error-message-place text-red-700">New Password
                      is required
                    </span>
                  </div> -->
                </div>
                <div data-v-02245ca6="" class="input-wrapper">
                  <div data-v-64dd3bfe="" data-v-02245ca6="" class="relative my-3" modelmodifiers="[object Object]">
                    <input data-v-64dd3bfe="" id="confirm" name="confirm" autocomplete="off" type="password"
                      step="false" maxlength="20"
                      class="effect-20 relative w-full h-40px rounded-lg bg-opacity-0 px-2 z-10 disabled:bg-black-300 disabled:cursor-not-allowed disabled:border-0"
                      formControlName="confirmnewPassword" [ngClass]="{'has-content':confirmnewPassword?.value,'has-error': submitted && changePass.controls['confirmnewPassword'].invalid}"
                      [type]="showConfirm ? 'text':'password'" appNoEmoji appNoSpace><label
                      data-v-64dd3bfe="" for="confirm" class="cursor-text outline-none">New Password
                      Confirm</label>
                    <div data-v-64dd3bfe="" class="absolute top-0 flex items-center h-40px ml-2 space-x-3px start-icon">
                      <span data-v-64dd3bfe="" class="icon-content text-18 text-black-400 top-3 left-3 z-10"><i
                          data-v-64dd3bfe="" class="icon-flag-bangladesh path1 z-10 text-18"></i><i data-v-64dd3bfe=""
                          class="icon-flag-bangladesh path2 z-10 text-18"></i></span><span data-v-64dd3bfe=""
                        class="prefix-text leading-8 border-r border-black-300 pr-2 text-11 top-2 left-3 z-10"></span>
                    </div><span (click)="showConfirmpwd()" data-v-64dd3bfe="" [ngClass]="showConfirm?'icon-visibility-on':'icon-visibility-off'"
                      class="end-icon absolute top-3 right-3 z-10 text-18 icon-visibility-off"></span><span
                      data-v-64dd3bfe="" class="focus-border"><i data-v-64dd3bfe=""></i></span>
                  </div>
                  <!-- <div class="member-error ng-star-inserted m-0"
                    *ngIf="confirmnewPassword?.invalid && (confirmnewPassword?.touched || confirmnewPassword?.dirty)">
                    <span *ngIf="changePass.get('confirmnewPassword')?.errors?.['required']"
                      class="text-danger error-message-place text-red-700">Confirm new Password
                      is required
                    </span>
                  </div> -->
                </div>
                <div data-v-02245ca6="" class="input-wrapper">
                  <div data-v-64dd3bfe="" data-v-02245ca6="" class="relative my-3" modelmodifiers="[object Object]">
                    <input data-v-64dd3bfe="" id="originPassword" name="originPassword" autocomplete="off"
                      type="password" step="false" maxlength="20"
                      class="effect-20 relative w-full h-40px rounded-lg bg-opacity-0 px-2 z-10 disabled:bg-black-300 disabled:cursor-not-allowed disabled:border-0"
                      formControlName="tran_code" [ngClass]="{'has-content':tran_code?.value,'has-error': submitted && changePass.controls['tran_code'].invalid}"
                       [type]="showOld ? 'text':'password'" appNoEmoji appNoSpace><label data-v-64dd3bfe=""
                      for="originPassword" class="cursor-text outline-none">Your
                      Password</label>
                    <div data-v-64dd3bfe="" class="absolute top-0 flex items-center h-40px ml-2 space-x-3px start-icon">
                      <span data-v-64dd3bfe="" class="icon-content text-18 text-black-400 top-3 left-3 z-10"><i
                          data-v-64dd3bfe="" class="icon-flag-bangladesh path1 z-10 text-18"></i><i data-v-64dd3bfe=""
                          class="icon-flag-bangladesh path2 z-10 text-18"></i></span><span data-v-64dd3bfe=""
                        class="prefix-text leading-8 border-r border-black-300 pr-2 text-11 top-2 left-3 z-10"></span>
                    </div><span (click)="showOldpwd()" data-v-64dd3bfe="" [ngClass]="showOld?'icon-visibility-on':'icon-visibility-off'"
                      class="end-icon absolute top-3 right-3 z-10 text-18 icon-visibility-off"></span><span
                      data-v-64dd3bfe="" class="focus-border"><i data-v-64dd3bfe=""></i></span>
                  </div>
                  <!-- <div class="member-error ng-star-inserted m-0"
                    *ngIf="tran_code?.invalid && (tran_code?.touched || tran_code?.dirty)">
                    <span *ngIf="changePass.get('tran_code')?.errors?.['required']"
                      class="text-danger error-message-place text-red-700">Old password
                      is required
                    </span>
                  </div> -->
                </div>

                <span id="newPasswordConfirmErrorText " class="text-red-700 mt-3"
                  [class]="showMsg ? 'success-text' : 'error-text'">{{errMsg}}</span>
                <button data-v-31cc0ed1="" (click)="changePassword()"
                  class="btn-normal p-3 rounded flex justify-center items-center disabled:bg-black-300 disabled:text-black-600 disabled:cursor-not-allowed btn-login w-48 mt-3 mb-6 mx-auto text-base font-extrabold"
                  type="button">Change
                </button>
                <ul data-v-02245ca6="" class="list-outside list-disc ml-4 text-12 leading-6">
                  <li data-v-02245ca6="">Password must have 8 to 15 alphanumeric without white space</li>
                  <li data-v-02245ca6="">Password cannot be the same as username / nickname</li>
                  <li data-v-02245ca6="">Must contain at least 1 capital letter, 1 small letter and 1 number</li>
                  <li data-v-02245ca6="">Password must not contain any special characters (!,&#64;,#,etc..)1111</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</section>
