.modal.focus {
  bottom: auto;
  top: 0
}

.input-wrapper {
  display: flex;
  flex-direction: column
}

.wrapper {
  background-image: url(/assets/images/baaji365-bg-login.webp);
}
.member-error{
  margin: 0px !important;
}
/* .leading-6 {
  line-height: 1rem;
} */
.text-red-700{
  font-size: .8571428571428571rem !important;
}

.has-error {
    border-color: #e20000
;

}

[class*=" icon-"]{
  z-index: 10;
}
.icon-close {
  position: absolute;
  z-index: 10;
  left: unset;
  width: auto;
  height: auto;
  margin: unset;
  transform: unset;
}

.classic .icon-close:before {
  content: "";
}
